body {
    box-sizing: border-box;
    margin: 0;
    height: auto;
    color: #F4D6B1;
    background: linear-gradient(180deg, #182A48 0%, #516AA4 100%);
    /* border-style: inset; */
    border: 20px solid;
    border-color: linear-gradient(180deg, #DDB078 25.52%, #F4D6B1 59.9%);
    height: 100vh;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}

.body_container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.house_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    font-size: calc(0.4rem + 0.4vw);
    transition: ease-in 500ms;
}

.transform_horizont {
    font-size: calc(1rem + 1vw);
    font-size: 2vh;
    transform: rotate(90deg);
    height: 90vw;
}

.transform_minus_90_deg {
    transform: rotate(-90deg);
}


/* активные элементы дома */
.levels_elem {
    position: relative;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    height: 100%;
    transition: ease-in 500ms;
}

/* внутренние картинки элементов*/
.click_elem {
    position: absolute;
    height: 100%;
    top: 0;
    bottom: 0;
    cursor: pointer;
    z-index: 2;
}

/* подписи на элементах */
.label {
    position: absolute;
    color: #232323;
    cursor: pointer;
    z-index: 2;
    transition: ease-in 500ms;
}

.levels_elem>.p_up {
    margin-top: 2vh;
}

.levels_elem>.p_down {
    margin-bottom: 2vh;
}

.display_none {
    display: none;
}

/* кнопка возврата в основное меню */
.go_start_menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 30px;

    color: #F4D6B1;
    font-size: 14px;
    z-index: 999;
    border: 3px #F4D6B1 solid;
    cursor: pointer;
}

/* контейнер кнопок управления */
.button_container {
    position: fixed;
    top: 24px;
    left: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1vh;
}

/* добавляемый стиль */
.flex_direction {
    flex-direction: row;
}

/* добавляемый стиль */
.rotate_180_deg {
    margin-left: 5vh;
    height: 10vh;
    width: 10vh;
    transform: rotate(90deg);
}

/* добавляемый стиль */
.opacity_animation {
    animation: opacity_wave;
    animation-duration: 2000ms;
}

@keyframes opacity_wave {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes opacity {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 100%;
    }
}

/*------------------- кнопки плюс минус -------------------*/
.plus_minus_up,
.plus_minus_down {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}

.plus_minus_up .plus_up,
.plus_minus_up .minus_up,
.plus_minus_down .plus_down,
.plus_minus_down .minus_down {
    margin: 0.5vh;
}

.plus_minus_up .plus_up,
.plus_minus_up .minus_up,
.plus_minus_down .plus_down,
.plus_minus_down .minus_down,
.rotate_button,
.label_button {
    /* font-size: 30px; */
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
    /* margin: 1vh 1vh; */
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: cover;
}

.select_variation_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.plus_up,
.plus_down {
    background-image: url(/image/Levels/plus_button.svg);
}

.minus_up,
.minus_down {
    background-image: url(/image/Levels/minus_button.svg);
}

.rotate_button {
    background-image: url(/image/Levels/rotate_button.svg);
}

.label_button {
    background-image: url(/image/Levels/label_button.svg);
}

.select_variation,
.select_variation_label,
.select_variation_tonality {
    width: 140px;
}