body {
    box-sizing: border-box;
    margin: 0;
    height: 100vh;
    color: #F4D6B1;
    background: linear-gradient(180deg, #182A48 0%, #516AA4 100%);
    border: 20px solid;
    border-color: linear-gradient(180deg, #DDB078 25.52%, #F4D6B1 59.9%);
}
.container{
    display: grid;
    grid-template-rows: 50px 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

@media (max-width: 700px){
    .container{
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    }
}

#header {
    padding: 20px;
    grid-area: header;
    text-align: center;
    font-size: 1em;
}

#sidebar-1, #sidebar-2, #sidebar-3, #sidebar-4,#sidebar-5,#sidebar-6,#sidebar-7  {
    display: flex;
    align-items: center;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
    border: 2px solid;
}

