*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    box-sizing: border-box;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    margin: 0;
    color: #F4D6B1;
    background: linear-gradient(180deg, #182A48 0%, #516AA4 100%);
    border: 20px solid;
    border-color: linear-gradient(180deg, #DDB078 25.52%, #F4D6B1 59.9%);
}


.startContainerCard{
    width: 100vw;
    margin-top: 50px;
    /* height: 100vh; */
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    /* z-index: 3; */
}

.startCard{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width: 100px; */
    /* height: 100px; */
    /* padding: 5px; */
    min-width: 120px;
    min-height: 120px;
    background-color: #F4D6B1;
    border-radius: 5px;
    border: 1px solid transparent;
   cursor: pointer;
   
}

.startCard:hover {
    border: 1px white solid;
    box-shadow: 2px 2px 5px white inset,
                -2px -2px 5px white inset,
                2px 2px 5px white,
                -2px -2px 5px white;
}


.line{
    /* position: absolute; */
    width: 95%;
    margin-top: 3px;
    /* margin: 3px 5px 0 5px; */
    height: 1px;
    background-color: black;
}

.hide_line{
    opacity: 0;
}
.short_line{
    width: 17px;
}


.new_treble_clief{
    position: absolute;
    width: 43%;
    height: 43%;

    top: 9px;
    left: 10px;
    background-image: url(/image/staff/treble_clief_black_PNG.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.new_bass_clief{
    position: absolute;
    width: 45%;
    height: 45%;

    top: 58.5px;
    left: 10px;
    background-image: url(/image/staff/bass_clief_black_PNG.png);
    background-size: contain;
    background-repeat: no-repeat;
}

/* .boxHorisont{
    display: flex;
    flex-direction: row;
    gap: 14px;
    left: 44%;
} */





.note_queen_in_cards{
    position: absolute;
    top: 0;
    width: 10px;
    height: 9px;
    border-radius: 50%;
    background-color: black;
    transform: scale3d(1, 0.8, 1);
}

.containerButton{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 20px;
}