body {
    margin: 0;
    box-sizing: border-box;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    margin: 0;
    color: #F4D6B1;
    background: linear-gradient(180deg, #182A48 0%, #516AA4 100%);
    border: 20px solid;
    border-color: linear-gradient(180deg, #DDB078 25.52%, #F4D6B1 59.9%);
}

* {
    user-select: none;
  }
  
.start_menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 95vw;
    height: 95vh;
    background: linear-gradient(180deg, #182A48 0%, #516AA4 100%);
    z-index: 999;
}



.start_button{
    width: 80px;
    height: 40px;
    font-size: 24px;
    text-align: center;
    line-height: 40px;
    margin-top: 10px;
    color: black;
    background-color: #ffffcc;
    border-radius: 10px;
    cursor: pointer;
}

.start_button_item{
    width: 85px;
    height: 85px;
    margin: 3px;
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    cursor: pointer;
    background-color: transparent;
    background-size: 80%;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    transition: all 0.5s ease-out;
    border-radius: 5px;
    margin: 20px;
}


.start_button_toggle {
    box-sizing: content-box;
    border: 6px solid white;
    box-shadow: 3px 3px 10px rgb(8, 218, 255), -3px -3px 10px rgb(232, 250, 255);   
}

.buttons_block {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.big_container {
    width: auto;
}

.keyboards {
    display: flex;
    justify-content: center;
    max-width: 736px;
    width: auto;
    margin: auto;
    font-size: 10px;
    /* border: 1px solid blue; */
    background-color: rgb(216, 216, 216);
}

.key {
    width: 26px;
    height: 140px;
    color: blue;
    border: 1px solid rgb(93, 93, 93);
    border-radius: 0 0 3px 3px;
    background-color: white;
}

.white_key:active {
    border-top:1px solid #777;
    border-left:1px solid #999;
    border-bottom:1px solid #999;
    box-shadow:2px 0 3px rgba(0,0,0,0.1) inset,-5px 5px 20px rgba(0,0,0,0.2) inset,0 0 3px rgba(0,0,0,0.2);
    background:linear-gradient(to bottom,#fff 0%,#e9e9e9 100%)
}

.black_key{
    width: 14px;
    height: 87px;
    margin-left: -8px;
    margin-right: -7px;
    border-radius: 0 0 3px 3px;
    background-color: black;
    z-index: 2;
    box-shadow:-1px -1px 2px rgba(255,255,255,0.2) inset,0 -5px 2px 3px rgba(0,0,0,0.6) inset,0 2px 4px rgba(0,0,0,0.5);
    background:linear-gradient(45deg,#222 0%,#555 100%)
}

.black_key:active {
    box-shadow:-1px -1px 2px rgba(255,255,255,0.2) inset,0 -2px 2px 3px rgba(0,0,0,0.6) inset,0 1px 2px rgba(0,0,0,0.5);
    background:linear-gradient(to right,#444 0%,#222 100%)
  }

/* .key:hover{
    background-color: rgb(53, 231, 148);
} */

.monitor{
    display: flex;
    justify-content: center;
    flex-direction: row;
    font-size: 14px;
    text-align: center;
    margin: 10px 20px 10px 20px;
   
}

/* .monitor_message{
    text-align: center;
    margin: 0 20px 0 20px;
} */

.queen_button_container {
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: auto;
    margin: auto;
}


.blind{
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: absolute; */
    width: 150px;
    height: 40px;
    margin: 5px;
    font-size: 24px;
    text-align: center;
    color: black;
    background-color: beige;
    z-index: 3;
    border-radius: 10px;
    cursor: pointer;
}

.queen_button_item {
    width: 85px;
    height: 85px;
    margin: 3px;
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    cursor: pointer;
    background-color: transparent;
    background-size: 80%;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    transition: all 0.5s ease-out;
}

@media (max-width: 667px){
    .queen_button_item {
        width: 75px;
        height: 75px;
    }
}

.queen_button_item:hover{
    transform: scale(1.1);
}

.play {background-image: url("../image/buttons/play.png");}

.G1 {background-image: url("../image/staff/G1.svg");}
.D2 {background-image: url("../image/staff/D2.svg");}
.A2 {background-image: url("../image/staff/A2.svg");}
.E3 {background-image: url("../image/staff/E3.svg");}
.B3 {background-image: url("../image/staff/B3.svg");}
.F4 {background-image: url("../image/staff/F4.svg");}

.G1_start {
    background-color: #ffffcc;
    background-image: url("../image/staff/G1.svg");}
.D2_start {
    background-color: #ffffcc;
    background-image: url("../image/staff/D2.svg");}
.A2_start{
    background-color: #ffffcc;
    background-image: url("../image/staff/A2.svg");}
.E3_start {
    background-color: #ffffcc;
    background-image: url("../image/staff/E3.svg");}
.B3_start {
    background-color: #ffffcc;
    background-image: url("../image/staff/B3.svg");}
.F4_start {
    background-color: #ffffcc;
    background-image: url("../image/staff/F4.svg");}


.G1:hover {background-image: url("../image/Queen/queen_G.png");}
.D2:hover {background-image: url("../image/Queen/queen_D.png");}
.A2:hover {background-image: url("../image/Queen/queen_A.png");}
.E3:hover {background-image: url("../image/Queen/queen_E.png");}
.B3:hover {background-image: url("../image/Queen/queen_B.png");}
.F4:hover {background-image: url("../image/Queen/queen_F.png");}


.queen_start_item{
    display: block;
    width: 120px;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
}



button[data-descr] {
    position: relative;
    text-decoration: underline;
    color: #00F;
    cursor: help;
    background-color: #ffffcc;
    border-radius: 5px;
  }
  
  button[data-descr]:hover::after {
    content: attr(data-descr);
    position: absolute;
    left: 8px;
    top: 95px;
    min-width: 50px;
    border: 1px #aaaaaa solid;
    border-radius: 10px;
    background-color: #ffffcc;
    padding: 12px;
    color: #000000;
    font-size: 14px;
    z-index: 1;
  }

  .go_start_menu {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 30px;
    top: 20px;
    left: 20px;
    color: #d6a86f;
    font-size: 14px;
    z-index: 999;
    border: 3px #d6a86f solid;
  }