* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

:root {
    --text-size: 3vh;
    --circle-size: 800px;
    --dashed-color: rgba(255, 255, 255, 0.5) dashed 3px;
}

@font-face {
    font-family: OPUSTEXT;
    /* Гарнитура шрифта */
    src: url(/fonts/Musisync-KVLZ.ttf);
    /* Путь к файлу со шрифтом */
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: OPUSTEXT;
    color: #F4D6B1;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, #182A48 0%, #516AA4 100%);
    border: 20px solid #DDB078;
    border-color: linear-gradient(180deg, #DDB078 25.52%, #F4D6B1 59.9%);
}


/* .experiment{
    display: flex;
    flex-direction: row;
   
    width: 100vw;
    height: 100vw;
    justify-items: stretch;
    justify-content: stretch;
    align-items: stretch;
    background-color: #182A48;
    border-radius: 50%;
    overflow: hidden;
}

.one{
    background-color: #DDB078;
    border-radius: 50%;
    flex-shrink: 50%;
}
.two{
    background-color: #8b78dd;
    border-radius: 50%;
    flex-shrink: 50%;
} */

.container {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: var(--circle-size);
    height: var(--circle-size);
    max-height: 97vh;
}

.whole_note,
.half_note,
.quarter_note,
.eighth,
.sixteenth {
    position: relative;
       display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50%;
    border-radius: 50%;
    outline: 1px solid rgba(255, 255, 255, 0.2);
    cursor: pointer;
    transition: all ease-in 400ms;
}

.whole_note {
    font-size: calc(var(--text-size) * 3);
}

.half_note {
    font-size: calc(var(--text-size) * 2.5);
}
.half_dotted_note {
    font-size: calc(var(--text-size) * 2.8);
}

.quarter_note {
    font-size: calc(var(--text-size) * 1.7);
}
.quarter_dotted_note {
    font-size: calc(var(--text-size) * 2);
}

.eighth {
    font-size: calc(var(--text-size) * 1.3);
}
.eighth_dotted_note {
    font-size: calc(var(--text-size) * 1.5);
}

.sixteenth {
    font-size: calc(var(--text-size) * 1);
}

/* .eighth>p {
    top: -7%;
} */

.whole_note {
    width: 100%;
    height: 100%;
}



.border_active {
    box-shadow: inset 0 0 0 3px;
    background-color:rgba(124, 124, 124, 0.2)
}

.border_press_contextmenu {
    /* stroke: #F4D6B1; */
    border: var(--dashed-color);
}

.triple{
    display: none;
    position: absolute;
    bottom: -20px;
}

.triple_show{
    display: block;
}

.triple:hover{
    transform: scale(1.2);
}

.triple,
.plus{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px; 
    
}


.plus{
    display: none;
    position: absolute;
    right: -20px;
    z-index: 999;
}

.plus_show{
    display: block;
}

.plus:hover{
    transform: scale(1.2);
}


.numb {
    /* font-size: 10px; */
    position: absolute;
    top: 0;
    /* line-height: 2.5vh; */
    /* margin-left: 5px; */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    pointer-events: none;
}

/* .center{
line-height: 120%;
} */
/* 
.fontMus {
    font-size: 50px;
} */

.monitoring {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 60px;
    width: 60%;
    height: 60px;
    /* text-align: center; */
    /* color: orangered; */
    /* font-size: 60px; */
    /* background: rgba(255,255,255, 0.7); */
    border-radius: 30px;
}

.button_container {
    position: absolute;
    display: flex;
    bottom: 3%;
    gap: 6px;
    font-family: Arial, Helvetica, sans-serif;
}

.button_container_elem {
    padding: 3px 10px 5px 10px;
    border: 1px #DDB078 solid;
    cursor: pointer;
    transition: all 250ms;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    word-wrap: normal;
}

.button_container_elem:hover {
    transform: scale(1.1);
    background-color: rgba(255, 255, 255, 0.2);
}

.click_item_absolute {
    display: flex;
    justify-content: center;
    position: absolute;
    left: 0;
    width: 303%;
    height: 303%;
    /* background-color: red; */
    /* border: 1px solid red; */
    border-radius: 50%;
    box-shadow: inset 0 0 0 3px;
    background-color:rgba(124, 124, 124, 0.2);
    z-index: 1;
}

.click_item_square {
    border-radius: 0%;
}

.click_item_position {
    justify-content: start;
}

.font__standart {
    font-family: Arial, Helvetica, sans-serif;
}

.hide {
    opacity: 0;
}

.no-click {
    pointer-events: none;
    /* background-color: #516AA4; */
}

.button_fon_hide {
    outline: 1px solid rgba(255, 255, 255, 0);
}

.button_grani_hide {
    box-shadow: inset 0 0 0 0px;
}

.font_size_even{
    font-size: calc(var(--text-size) * 3);
}

.p_allign_center {
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
}

.p_center{
    position: absolute;
    top: 0;
}

.display_none{
    display: none;
}

.height_del_3{
    height: calc(100% / 3);
}