* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

:root {
    --text-size: 3vh;
    --circle-size: 85vw;
    --circle-size-vh: 85vh;
    --dashed-color: rgba(255, 255, 255, 0.5) dashed 3px;
    --background: linear-gradient(180deg, #182A48 0%, #516AA4 100%);
}

@font-face {
    font-family: OPUSTEXT;
    /* Гарнитура шрифта */
    src: url(/fonts/Musisync-KVLZ.ttf);
    /* Путь к файлу со шрифтом */
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: OPUSTEXT;
    color: #F4D6B1;
    padding-top: 15px;
    justify-content: start;
    align-items: center;
    background: var(--background);
    border: 20px solid #DDB078;
    border-color: linear-gradient(180deg, #DDB078 25.52%, #F4D6B1 59.9%);
    /* overflow: scroll; */
}


.container {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: var(--circle-size);
    height: var(--circle-size);
    transition: ease-in-out 200ms;
}

@media screen and (min-aspect-ratio: 4/3) {
    .container {
        width: var(--circle-size-vh);
        height: var(--circle-size-vh);
    }
}


/*--------------- стили для всех длительностей ----------------*/
.whole_note,
.half_note,
.quarter_note,
.eighth,
.sixteenth {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    width: 50%;
    height: 50%;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.2) inset;
    cursor: pointer;
    transition: all 200ms;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.whole_note {
    width: 100%;
    height: 100%;
}

.whole_note {
    font-size: calc(var(--text-size) * 3);
}

.half_note {
    font-size: calc(var(--text-size) * 2.5);
}

.half_dotted_note {
    font-size: calc(var(--text-size) * 2.8);
}

.quarter_note {
    font-size: calc(var(--text-size) * 1.7);
}

.quarter_dotted_note {
    font-size: calc(var(--text-size) * 2);
}

.eighth {
    font-size: calc(var(--text-size) * 1.3);
}

.eighth_dotted_note {
    font-size: calc(var(--text-size) * 1.5);
}

.sixteenth {
    font-size: calc(var(--text-size) * 1);
}



/*--------------- стили левой клавиши мыши круговая подсветка ----------------*/
.border_active {
    box-shadow: inset 0 0 0 3px;
    /* background-color: rgba(124, 124, 124, 0.2); */
}




/*===================================== стили правой клавиши мыши ============================*/
.border_press_contextmenu {
    border: var(--dashed-color);
    z-index: 999;
}

.plus_one,
.minus_one,
.plus_plus {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.plus_one {
    position: absolute;
    bottom: -20px;
}

.plus_one:hover {
    transform: scale(1.2);
}

.minus_one {
    position: absolute;
    top: -20px;
}

.minus_one:hover {
    transform: scale(1.2);
}

.plus_plus {
    position: absolute;
    right: -43px;
    z-index: 999;
}

.plus_plus:hover {
    transform: scale(1.2);
}

.del {
    position: absolute;
    left: -43px;
    z-index: 999;
}

.del:hover {
    transform: scale(1.2);
}

.shtorka {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 50%;
    background-color: rgba(7, 1, 48, 0.6);
    z-index: 998;

}

/*========================================================================================*/


.numb {
    /* font-size: 10px; */
    position: absolute;
    top: 0;
    /* line-height: 2.5vh; */
    margin-left: 5px;
    pointer-events: none;
}



/*=========================== стили кнопок и контейнера ========================*/
.button_container {
    position: fixed;
    margin: 0 25px;
    width: 85vw;
    display: flex;
    flex-wrap: wrap;
    bottom: 25px;
    gap: 6px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1vw;
}

.button_container_elem {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    padding: 3px 10px 5px 10px;
    border: 1px #DDB078 solid;
    cursor: pointer;
    transition: all 250ms;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    word-wrap: normal;
}

.button_container_elem:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.circle_container_of_button {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 50%;
    font-size: 20px;
}

/*========================================================================================*/




/*=========================== стили активностей ===============================*/
/*--------------- квадрат ----------------*/
.click_item_square {
    border-radius: 0%;
}

/*--------------- тень ----------------*/
.box_shadows {
    box-shadow: rgb(143, 51, 255) 2px 2px 0px, rgb(143, 51, 255) -2px -2px 0px;
}
.top_margin_44px{
    margin-top: 48px;
}
.top_margin_64px{
    margin-top: 100px;
}

/*--------------- спэйс ----------------*/
.space {
    box-shadow: inset 0px -10px 30px rgb(0, 185, 179),
        0px 20px 40px -40px rgb(2, 84, 173);
}

/*--------------- смещение нот в позицию старт ----------------*/
.click_item_position {
    justify-content: start;
}

/*--------------- скрытие сетки бэкграунда ----------------*/
.button_setka_hide {
    box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0) inset;
}

/*--------------- скрытие круглой обводки элемента (выравнивание с бэкграундом) ----------------*/
.button_hide_circkle {
    box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.2) inset;
}

/*--------------- увеличение размера шрифта ----------------*/
.font_size_even {
    font-size: calc(var(--text-size) * 3);
}

/*--------------- выравнивание в линию ----------------*/
.button_p_allgn_line {
    height: 0;
}

/*====================================================================*/



/* p{
    background-color: #DDB078;
} */

/*--------------- подключение прозрачности ----------------*/
.hide {
    opacity: 0;
}

/*--------------- отключение курсора поинтера ----------------*/
.no-click {
    pointer-events: none;
    /* background-color: #516AA4; */
}

/*--------------- применение стандартного шрифта ----------------*/
.font__standart {
    font-family: Arial, Helvetica, sans-serif;
}

.display_none {
    display: none;
}

.height_del_3 {
    height: calc(100% / 3);
}

.add_speed_board_activ {
    border: 1px solid rgba(55, 230, 90, 1);
}

.add_metronome_click_active {
    /* box-shadow: 0px 0px 0px 4px rgba(55, 230, 90, 0.6) inset; */
    background-color: rgba(238, 241, 229, 0.2);
}


/*========================= добавление тактовых черт ==============================*/
.left_border {
    padding-left: 3px;
    border-left: 1px solid white;
}

.right_border {
    border-right: 1px solid white;
}

/*=================================================================================*/


.background {
    background: var(--background);
    z-index: 999;
}