body {
    box-sizing: border-box;
    height: 100vh;
    margin: 0;
    color: #F4D6B1;
    font-size: 22px;
    background: linear-gradient(180deg, #182A48 0%, #516AA4 100%);
    /* border-style: inset; */
    border: 20px solid;
    border-color: linear-gradient(180deg, #DDB078 25.52%, #F4D6B1 59.9%);
}

p{
  color: blue;
  /* font-size: 20px; */
}

.section{
    display: flex;
    
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    flex-direction: column;
    align-items: center;
    /* margin: 0; */
    /* padding: 0; */
}

.monitor{
    width: 90vw;
    /* height: 20px; */
    color: white;
    text-align: center;
    /* border: 5px solid white; */
  }

.section_button{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  /* padding-left: 50%;
  padding-right: 50%; */
  /* border: 2px solid blue; */
}

.button{
  display: flex;
  box-sizing: border-box;
  /* white-space: pre-wrap; */
  /* flex: 1 2 3 auto; */
  padding: 2px 5px 2px 5px;
  /* margin: 4px; */
  font-size: 20px;
  flex-wrap: nowrap;
  overflow: hidden;
  text-align: center;
  /* border: 1px solid #F4D6B1; */
  border-radius: 4px;
  cursor: pointer;
  opacity: 0.7;
}  

.button_gold{ 
  background-color: #f4d6b19a; 
  /* transition-property: background-color; */
  /* transition-duration: 300ms; */
  color: rgb(5, 5, 114);
  box-shadow: inset 0px 0px 15px 0px #F4D6B1;
  opacity: 1;
  transform: scale(1.2);
  transition: transform 0.5s, background 0.5s;
}

.circle{
  width: auto;
  height: 20px;
  /* border: 3px solid #F4D6B1; */
  /* border-radius: 4px; */
}

.elem {
    display: flex;
    justify-content: center;
    align-items: flex-end; /*опускает цифры вниз клавиш*/
    padding-top: 20px;
    width: 80px;
    height: 400px;
    border: 2px #9c9c9c solid;
    border-radius: 0 0 12px 12px;
    background-color: white;
    transition-property: background-color;
    transition-duration: 300ms;
    z-index: 1;
  }

   .black_key {
    background-color: rgb(154, 154, 154);
    width: 55px;
    height: 240px;
    margin-left: -30px;
    margin-right: -30px;
    background-color: black;
    border: 2px #9c9c9c solid;
    transition-property: background-color;
    transition-duration: 300ms;
    z-index: 999;
  }

@media (min-width: 768px) and (max-width: 979px) {
  .elem {
    width: 57px;
    height: 240px;
    border-radius: 0 0 6px 6px;
    border: 1px #9c9c9c solid;
  }
  .black_key {
    width: 35px;
    height: 132px;
    margin-left: -18px;
    margin-right: -19px;
    border: 1px #9c9c9c solid;
  }
}
@media (min-width: 481px) and (max-width: 767px) {
  .elem {
    width: 40px;
    height: 166px;
    border-radius: 0 0 6px 6px;
    border: 1px #9c9c9c solid;
  }
  .black_key {
    width: 26px;
    height: 92px;
    margin-left: -14px;
    margin-right: -14px;
    border: 1px #9c9c9c solid;
  }
}
/* @media (max-width: 480px) {} */
  
  .ledON { 
    background-color: rgb(0, 234, 255); 
    transition-property: background-color;
    transition-duration: 300ms;
    box-shadow: inset 0px 0px 15px 0px #000000;
  }
  
  

  .ledWin { 
    background-color: #d6a86f; 
    transition-property: background-color;
    transition-duration: 300ms;
    box-shadow: inset 0px 0px 15px 0px #000000;
  }
  
  .border_color{
    /* border-color: #182A48; */
    color: #182A48;
    /* border-width: 3px; */
  }

  .section {
    padding: 20px;
  display: flex;
  justify-content: center;
  }
  
  .container {
    display: flex;
    justify-content: flex-start;
    width: auto;
  }
  
  

/* slider zone */
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

/* header {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: hsla(50, 100%, 50%, 1);
} */
.slider {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 800px;
  height: 300px;
  position: relative;
  overflow: hidden;
  /* border: 2px solid white; */
}

.slide {
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: all 1s ease-in-out;
  /* border: 2px solid red; */
}

.slide:nth-child(1) {
  background-color: transparent;
}
.slide:nth-child(2) {
  background-color: transparent;
}
.slide:nth-child(3) {
  background-color: transparent;
}

.prev,
.next {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  font-size: 2rem;
  border-radius: 2rem;
  background-color: white;
  z-index: 100;
  top: 50%;
  transform: translatey(-50%);
  transition: transform 0.2s, background 0.5s;
  cursor: pointer;

  &:hover {
    transform: translatey(-50%) scale(1.2);
    background: hsla(50, 100%, 50%, 1);
  }
}

.prev {
  left: 2%;
}
.next {
  right: 2%;
}
