@font-face {
  font-family: "Musisync-KVLZ";
  /* Браузер сначала попробует найти шрифт локально */
  src: url("/Musisync-KVLZ.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

body {

  box-sizing: border-box;
  height: 100vh;
  margin: 0;
  color: #F4D6B1;
  font-size: 16px;
  background: linear-gradient(180deg, #182A48 0%, #516AA4 100%);
  border: 20px solid;
  border-color: linear-gradient(180deg, #DDB078 25.52%, #F4D6B1 59.9%);
  overflow: hidden;
}

* {
  padding: 0;
  margin: 0;
  user-select: none;
  box-sizing: border-box;
}

p {
  color: blue;
}

Img {
  width: auto;
}

.section {
  display: flex;
  height: 99%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  flex-direction: column;
  align-items: center;
}

.monitor {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  width: 50vw;
  height: 50px;
  font-size: 1.4vw;
  /* line-height: 2.7vw; */
  color: rgb(255, 255, 255);
  text-align: center;
}

/* slider zone */
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

.slider {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 70vw;
  height: 100%;
  margin: 10px;
  overflow: hidden;
}

/* СЛАЙД АБСОЛЮТНО РАСТЯГИВАЕТСЯ ВНУТРИ КОНТЕЙНЕРА */
.slide {
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: -1px;
  right: -1px;
  transition: all 1s ease-in-out;
  /* border: 2px solid red; */
  height: 100%;
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: #F4D6B1;
  direction: rtl;
}

.section_button {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-size: 1.4vw;
  align-items: center;
  gap: 10px;
}


.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: min-content;
  border-radius: 4px;
  cursor: pointer;
  opacity: 0.5;
  border: 1px solid rgba(0, 0, 0, 0);
  background-size: 100% 100%;
}

.static_button,
.static_button_bottom {
  cursor: pointer;
  opacity: 0.7;
  background-size: 100% 100%;
}


.button_gold {
  background-color: #f4d6b19a;
  color: rgb(5, 5, 114);
  box-shadow: inset 0px 0px 15px 0px #F4D6B1;
  opacity: 1;
  border: 1px solid white;
}

.prev,
.next {
  /* position: absolute; */

  display: flex;
  margin: 0 30px;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  /* margin-top: 5px; */
  z-index: 100;
  transition: transform 0.2s, background 0.5s;
  cursor: pointer;
  background-size: 100% 100%;
}

.material-icons:hover {
  transform: scale(1.2);
}

.prev {
  background-image: url(/image/Symmetry/LEFT.svg);
}

.next {
  background-image: url(/image/Symmetry/RIGHT.svg);
}

.header_keyboard {
  position: fixed;
  display: flex;
  align-items: stretch;
  top: 30px;
  right: 45px;
  width: auto;
  height: auto;
  flex-direction: column;
}

.container_monitor {

  display: flex;
  height: 100%;
}

.stroke_fakty_monitor {
  text-align: right;
  font-family: "RMusisync-KVLZ";
  font-size: 1.8vw;
  margin-top: 15%;
  opacity: 1;
  transition: 1000ms;
}

input[type=range] {
  width: 150px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  overflow: hidden;
  height: 20px;
}

.checkbox_container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  top: 0;
}

.checkbox_container>input {
  cursor: pointer;
  transform: scale(1);
  margin-right: 10px;
  z-index: 999;
}

.input_range {
  margin: 0;
  padding: 0;
}

.container_for_keyboards_and_grid {
  display: flex;
  flex-direction: column;
  width: 100%;

  /* min-height: 26vw; */
}

.matrix_container {
  display: flex;
  position: absolute;
  cursor: move;
  top: 300px;
  left: 100px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5vh;
  width: min-content;
  /* margin: 3vh 1vw; */
  padding: 2%;
  background: linear-gradient(120deg, #293753e6 0%, #263655de 100%);
  border: 1px solid #F4D6B1;
  border-radius: 20px;
  z-index: 999;
}

.close_container {
  position: absolute;
  top: -5px;
  right: 10px;
  font-size: 50px;
  transform: rotate(45deg);
  cursor: pointer;
}

.close_container:hover {
  font-weight: bold;
  transform: rotate(45deg) scale(1.3);
}

.new_column_for_12_elem {
  display: flex;
  flex-direction: column;
  gap: 1vh;
}

.item_in_column {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: flex-end;
  padding: 5px;
  /* border: 1px solid red; */
}

/* блок надстройка над клавиатурой */
.active_mini_circle {
  background-color: #F4D6B1;
}

.active_mini_circle_black {
  background-color: #5f5f5f;
}

.active_mini_circle_white {
  background-color: #ffffff;
}

.active_mini_circle_plus {
  background-color: #FD9800;
}

.active_mini_circle_ball {
  background-color: #0D45C8;
}

.active_mini_circle_TTT {
  background-color: #fa7903;
}

.active_mini_circle_maj {
  background-color: #ffe600;
}

.active_mini_circle_min {
  background-color: #2998ff;
}

.active_mini_circle_frig {
  background-color: #6900d2;
}

.active_mini_circle_harm {
  background-color: #d200b1;
}

:root {
  --main-size: 12px;
}

.font_opus_std {
  /* position: absolute; */
  font-family: 'Opus Text Std';
  font-size: 0.6em;
  letter-spacing: 1.5px;
  color: #ffe8c09f;
}

.item_circle {
  width: var(--main-size);
  height: var(--main-size);
  border: 1px solid rgba(255, 255, 255, 0.387);
  border-radius: 50%;
}

.white_circle {
  margin-left: calc(var(--main-size) / 10);
  margin-right: calc(var(--main-size) / 10);
  margin-top: calc(var(--main-size) / 10 * 9);
}

.black_circle {
  margin-left: calc(var(--main-size) / 2 - var(--main-size));
  margin-right: calc(var(--main-size) / 2 - var(--main-size));
}

.correct_answer {
  /* border: 1px solid white; */
  border-radius: 5px;
  box-shadow: inset 0px 0px 0px 1px #ffe8c09f;
}


.container {
  display: flex;
  position: relative;
  justify-content: flex-start;
  width: 100%;
  min-height: 18vw;
}



.elem {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  /*опускает цифры вниз клавиш*/
  padding-top: 20px;
  text-align: center;
  width: 6.8%;
  height: 100%;
  border: 1px #9c9c9c solid;
  border-radius: 0 0 12px 12px;
  background-color: white;
  transition-property: background-color;
  transition-duration: 300ms;
  z-index: 1;
  cursor: pointer;
}

.elem>p {
  position: absolute;
  top: 3%;
  width: 100%;
  text-align: center;
  text-shadow: 1px 1px 2px #ffffff9a;
}

.WT_PLUS {
  width: 2.5vw;
  height: 2.5vw;
  margin-bottom: 10px;
  background-image: url(/image/Symmetry/WT_PLUS_of_element.svg);
  background-size: 100% 100%;
}

.WT_CIRCLE {
  width: 2.5vw;
  height: 2.5vw;
  margin-bottom: 10px;
  border-radius: 50%;
  background-color: #0d45c8;
}

.DIM_znak1 {
  width: 2.5vw;
  height: 2.5vw;
  margin-bottom: 10px;
  background-image: url(/image/Symmetry/DIM_znak_1.svg);
  background-size: 100% 100%;
}

.DIM_znak2 {
  width: 2.5vw;
  height: 2.5vw;
  margin-bottom: 10px;
  background-image: url(/image/Symmetry/DIM_znak_2.svg);
  background-size: 100% 100%;
}

.DIM_znak3 {
  width: 2.5vw;
  height: 2.5vw;
  margin-bottom: 10px;
  background-image: url(/image/Symmetry/DIM_znak_3.svg);
  background-size: 100% 100%;
}





.black_key {
  /* background: white; */
  width: 4%;
  height: 60%;
  margin-left: -2.1%;
  margin-right: -2.1%;
  background-color: #1f1f1f;
  border: 2px #9c9c9c solid;
  transition-property: background-color;
  transition-duration: 100ms;
  z-index: 2;
}

@media (orientation: portrait) {
  .elem {
    border-radius: 0 0 8px 8px;
    border: 0.5px #9c9c9c solid;
  }

  .container {
    height: 150px;
  }
}

.long_key {
  height: 100%;
}

.ledON {
  background-color: rgb(0, 234, 255);
  transition-property: background-color;
  transition-duration: 400ms;
  box-shadow: inset 0px 0px 15px 0px #000000;
}

.ledWin {
  background-color: #d6a86f;
  transition-property: background-color;
  transition-duration: 300ms;
  box-shadow: inset 0px 0px 15px 0px #000000;
}

.border_color {
  color: #182A48;
}

.header_menu {
  position: fixed;
  display: grid;
  /* justify-content: center; */
  /* align-items: flex-start; */
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  flex-direction: row;
  width: 5vw;
  top: 24px;
  left: 24px;
  gap: 5px;
}

/* .header_menu>input {
  margin: 0;
} */

/* .go_start_menu, */
.info_button,
.long_button,
.WT_button,
.DIM_button,
.label_button,
.audio_button,
.matrix_button {

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 13px;
  width: 2vw;
  height: 2vw;
  font-size: 12px;
  border: 1px #F4D6B1 solid;
  border-radius: 3px;
  cursor: pointer;
  z-index: 999;
}

.audio_button {
  background-color: rgb(54, 54, 197);
}

.noSound {
  background-color: red;
}

/* .info_button {
  margin-top: 2vw;
} */

/* .go_start_menu {
  width: 50px;
  font-size: 10px;

} */

.popup {
  display: none;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 101;

}

.popup-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 98%;
  height: 98%;
  position: absolute;
  z-index: 11;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  font-size: 16px;
  background: linear-gradient(180deg, #182A48 0%, #516AA4 100%);
  border: 2px solid #F4D6B1;
  border-radius: 10px;
  padding: 20px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: auto
}

.result_ul {
  display: grid;
  width: 40%;
  grid-template-columns: 1fr 1fr;
  flex-direction: column;
}

li {
  display: block;
  text-align: center;
}

.headerOfResult {
  grid-column-start: 1;
  grid-column-end: 3;
  margin-top: 10px;
  color: #2a3e65;
  text-align: center;
  font-weight: bold;
  background-color: #F4D6B1;
}

.rowBlock {
  grid-column-start: 1;
  grid-column-end: 3;
}

.popup-closer {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #f4d6b1c4;
  font-size: 30px;
  border: 2px solid #f4d6b1c4;
  display: block;
  width: 30px;
  height: 30px;
  line-height: 25px;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
}

.popup-closer:hover {
  transform: scale(1.4);
}

.show_result {
  display: block;
  opacity: 1;
}

.fakty_window {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  padding: 5%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  border: 3px red solid;
  color: #F4D6B1;
  font-size: 36px;
  background: linear-gradient(180deg, #182A48 0%, #516AA4 100%);
  border: 20px solid;
  border-color: linear-gradient(180deg, #DDB078 25.52%, #F4D6B1 59.9%);
  z-index: 999;
  cursor: pointer;
}

.author {
  position: absolute;
  bottom: 2px;
  width: 300px;
  left: 50%;
  right: 50%;
  font-size: 0.7vw;
  text-align: center;
  margin-left: -150px;
  color: #516AA4;
}


.interval_container {
  display: none;
  position: absolute;
  padding: 5px;
  top: 0;
  width: 1200px;
  height: 600px;
  background-color: #0d45c8;
  z-index: 999;
}

.one_row {
  display: grid;
  grid-template-columns: 30px 1fr 1fr 1fr 1fr;
  position: relative;
  width: 100%;
  /* height: 100%; */
  /* align-items: center; */
}

.one_row_label {
  /* width: 100%; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #9c9c9c; */
  text-align: center;
}

.white_column,
.white_black_column,
.black_white_column,
.black_column {
  padding: 0 20px 0 20px;
  display: flex;
  justify-content: space-around;
}

.square_white,
.square_white_black,
.square_black_white,
.square_black {
  width: 100%;
  height: 40px;
}

.square_white {
  background-color: #eee;
}

.square_white_black {
  background: linear-gradient(to right, #eee 50%, #333 50%);
}

.square_black_white {
  background: linear-gradient(to left, #eee 50%, #333 50%);
}

.square_black {
  background-color: #333;
}

.line_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 30px;
}

.line {
  position: relative;
  width: 3px;
  height: 100%;
  background-color: wheat;
}

.line_label {
  padding: 5px 0 5px 0;
  text-align: center;
}

.line_gap {
  opacity: 0;
}

.circle {
  position: absolute;
  left: -8.5px;
  top: 5px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: white;
}

.hide_circle {
  display: none;
}

.hide {
  display: none;
}

.opacity_null {
  opacity: 0;
}