@font-face {
  font-family: "Musisync-KVLZ";
  /* Браузер сначала попробует найти шрифт локально */
  src: url("/Musisync-KVLZ.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

body {

  box-sizing: border-box;
  height: 100vh;
  margin: 0;
  color: #F4D6B1;
  font-size: 16px;
  background: linear-gradient(180deg, #182A48 0%, #516AA4 100%);
  border: 20px solid;
  border-color: linear-gradient(180deg, #DDB078 25.52%, #F4D6B1 59.9%);
}

* {
  padding: 0;
  margin: 0;
  user-select: none;
  box-sizing: border-box;
}

p {
  color: blue;
  /* font-size: 20px; */
}

Img {
  /* max-height: 160px; */
  width: auto;
}

.section {
  display: flex;
  /* position: absolute; */
  height: 96%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  flex-direction: column;
  align-items: center;
  /* border: 2px solid green; */
}

.monitor {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  width: 50vw;
  height: 50px;
  font-size: 1.4vw;
  /* line-height: 2.7vw; */
  color: rgb(255, 255, 255);
  text-align: center;
}

/* slider zone */
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

.slider {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 70vw;
  height: 100%;
  margin: 10px;
  /* position: relative; */
  overflow: hidden;
  /* border: 5px solid rgb(255, 0, 212); */
}

/* СЛАЙД АБСОЛЮТНО РАСТЯГИВАЕТСЯ ВНУТРИ КОНТЕЙНЕРА */
.slide {
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: all 1s ease-in-out;
  /* border: 2px solid red; */

  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: #F4D6B1;
  direction: rtl;
}

.section_button {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 1.4vw;
  align-items: center;
  gap: 10px;
  /* border: 4px solid rgb(0, 17, 255); */
  }

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  border-radius: 4px;
  cursor: pointer;
  opacity: 0.5;
  border: 1px solid rgba(0, 0, 0, 0);
  background-size: 100% 100%;
}

.static_button,
.static_button_bottom {
  cursor: pointer;
  opacity: 0.7;
  background-size: 100% 100%;
}

/* .static_button_bottom {
  opacity: 1;
} */

.button_gold {
  background-color: #f4d6b19a;
  color: rgb(5, 5, 114);
  box-shadow: inset 0px 0px 15px 0px #F4D6B1;
  opacity: 1;
  border: 1px solid white;
  /* transform: scale(1.1); */
  /* transition: transform 0.5s, background 0.5s; */
}

/* .slide:nth-child(1) {
  background-color: transparent;
}
.slide:nth-child(2) {
  background-color: transparent;
}
.slide:nth-child(3) {
  background-color: transparent;
} */

.prev,
.next {
  /* position: absolute; */

  display: flex;
  margin: 0 30px;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  /* margin-top: 5px; */
  z-index: 100;
  transition: transform 0.2s, background 0.5s;
  cursor: pointer;
  background-size: 100% 100%;
}

.material-icons:hover {
  transform: scale(1.2);
}

.prev {
  background-image: url(/image/Symmetry/LEFT.svg);
}

.next {
  background-image: url(/image/Symmetry/RIGHT.svg);
}

.header_keyboard {
  position: fixed;
  display: flex;
  align-items: stretch;
  top: 30px;
  right: 20px;
  width: 200px;
  height: 300px;
  flex-direction: column;
  font-size: 14px;
  /* background-color: #DDB078; */
}

.container_monitor {

  display: flex;
  height: 100%;
  justify-content: center;

}

.stroke_fakty_monitor {
  text-align: center;
  font-family: "RMusisync-KVLZ";
  margin-top: 15%;
  opacity: 1;
  transition: 1000ms;

}

input[type=range] {
  width: 150px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  overflow: hidden;
  height: 20px;
}

.checkbox_container {
  /* position: absolute; */
  /* flex: 1; */
  display: flex;
  /* font-size: 8px; */
  justify-content: center;
  align-items: center;
  top: 0;
}

.checkbox_container>input {
  cursor: pointer;
  transform: scale(0.8);
  z-index: 999;
}

.input_range {
  margin: 0;
  padding: 0;
}


.container {
  display: flex;
  position: relative;
  justify-content: flex-start;
  width: 100%;
  min-height: 18vw;

}


.elem {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  /*опускает цифры вниз клавиш*/
  padding-top: 20px;
  width: 6.6%;
  height: 95%;
  border: 1px #9c9c9c solid;
  border-radius: 0 0 12px 12px;
  background-color: white;
  transition-property: background-color;
  transition-duration: 300ms;
  z-index: 1;
}

.WT_PLUS {
  width: 2.5vw;
  height: 2.5vw;
  margin-bottom: 10px;
  background-image: url(/image/Symmetry/WT_PLUS_of_element.svg);
  background-size: 100% 100%;
}

.WT_CIRCLE {
  width: 2.5vw;
  height: 2.5vw;
  margin-bottom: 10px;
  border-radius: 50%;
  background-color: #0d45c8;
}

.DIM_znak1 {
  width: 2.5vw;
  height: 2.5vw;
  margin-bottom: 10px;
  background-image: url(/image/Symmetry/DIM_znak_1.svg);
  background-size: 100% 100%;
}

.DIM_znak2 {
  width: 2.5vw;
  height: 2.5vw;
  margin-bottom: 10px;
  background-image: url(/image/Symmetry/DIM_znak_2.svg);
  background-size: 100% 100%;
}

.DIM_znak3 {
  width: 2.5vw;
  height: 2.5vw;
  margin-bottom: 10px;
  background-image: url(/image/Symmetry/DIM_znak_3.svg);
  background-size: 100% 100%;
}

.black_key {
  background-color: rgb(154, 154, 154);
  width: 4%;
  ;
  height: 55%;
  margin-left: -2.1%;
  margin-right: -2.1%;
  background-color: black;
  border: 2px #9c9c9c solid;
  transition-property: background-color;
  transition-duration: 300ms;
  z-index: 2;
}

@media (orientation: portrait) {
  .elem {
    border-radius: 0 0 8px 8px;
    border: 0.5px #9c9c9c solid;
  }

  .container {
    height: 150px;
  }
}

/* @media (min-width: 0px) and (max-width: 740px) {
  .elem {
    border-radius: 0 0 4px 4px;
    border: 0.5px #9c9c9c solid;
  }

} */


.long_key {
  height: 95%;

}


/* @media (min-width: 768px) and (max-width: 979px) {
  .elem {
    width: 57px;
    height: 240px;
    border-radius: 0 0 6px 6px;
    border: 1px #9c9c9c solid;
  }
  .black_key {
    width: 35px;
    height: 132px;
    margin-left: -18px;
    margin-right: -19px;
    border: 1px #9c9c9c solid;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .elem {
    width: 40px;
    height: 166px;
    border-radius: 0 0 6px 6px;
    border: 1px #9c9c9c solid;
  }
  .black_key {
    width: 26px;
    height: 92px;
    margin-left: -14px;
    margin-right: -14px;
    border: 1px #9c9c9c solid;
  }
}
@media (max-width: 480px) {
  .elem {
    width: 24px;
    height: 116px;
    border-radius: 0 0 6px 6px;
    border: 1px #9c9c9c solid;
  }
  .black_key {
    width: 14px;
    height: 62px;
    margin-left: -8px;
    margin-right: -8px;
    border: 1px #9c9c9c solid;
  }
} */



.ledON {
  background-color: rgb(0, 234, 255);
  transition-property: background-color;
  transition-duration: 300ms;
  box-shadow: inset 0px 0px 15px 0px #000000;
}

.ledWin {
  background-color: #d6a86f;
  transition-property: background-color;
  transition-duration: 300ms;
  box-shadow: inset 0px 0px 15px 0px #000000;
}

.border_color {
  color: #182A48;
}

.header_menu {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;

  top: 24px;
  left: 24px;
 
 
  gap: 5px;
}

.go_start_menu,
.info_button,
.long_button,
.WT_button,
.DIM_button {

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 13px;
  width: 2vw;
  height: 2vw;
  font-size: 12px;
  border: 1px #F4D6B1 solid;
  border-radius: 3px;
  cursor: pointer;
  z-index: 999;
}

.info_button {
  margin-top: 2vw;
}

.go_start_menu {
  width: 50px;
  font-size: 10px;

}

/* .long_key {
  height: 50vh;
} */


/* .popup-checkbox,
.popup {
  display: none;
} */

.popup {
  display: none;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 101;

}

/* 
.popup:before {
  display: block;
  content: ' ';
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #000;
  opacity: .5;
} */

.popup-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 98%;
  height: 98%;
  position: absolute;
  z-index: 11;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  font-size: 16px;
  background: linear-gradient(180deg, #182A48 0%, #516AA4 100%);
  border: 2px solid #F4D6B1;
  border-radius: 1%;
  padding: 20px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: auto
    /* overflow: hidden; */
}

.result_ul {
  display: grid;
  width: 40%;
  grid-template-columns: 1fr 1fr;
  flex-direction: column;
  /* background-color: red; */

}

li {
  /* width: 30%; */
  display: block;
  text-align: center;
}

.headerOfResult {
  grid-column-start: 1;
  grid-column-end: 3;
  margin-top: 10px;
  color: #2a3e65;
  text-align: center;
  font-weight: bold;
  background-color: #F4D6B1;
}

.rowBlock {
  grid-column-start: 1;
  grid-column-end: 3;
}

/* 
.popup-shower {
  cursor: pointer;
  text-decoration: underline;
} */

/* .popup-shower:hover {
  color: #00a;
  text-decoration: underline;
} */

.popup-closer {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #f4d6b1c4;
  font-size: 30px;
  border: 2px solid #f4d6b1c4;
  display: block;
  width: 30px;
  height: 30px;
  line-height: 25px;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
}

.popup-closer:hover {
  transform: scale(1.4);
}

/* .popup-checkbox:checked+.popup {
  opacity: 1;
  display: block;
} */

.show_result {
  display: block;
  opacity: 1;
}

.fakty_window {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  padding: 5%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  border: 3px red solid;
  color: #F4D6B1;
  font-size: 36px;
  background: linear-gradient(180deg, #182A48 0%, #516AA4 100%);
  border: 20px solid;
  border-color: linear-gradient(180deg, #DDB078 25.52%, #F4D6B1 59.9%);
  z-index: 999;
  cursor: pointer;
  /* transition-property: opacity;
    transition-duration: 1s; */
}