* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* запрет выбора текста */
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: auto auto auto;

  position: relative;
  width: 100vw;
  height: 100vh;

  background: linear-gradient(180deg, #182A48 0%, #516AA4 100%);
  border: 10px solid #F4D6B1;
}

.main__table_grid {
  grid-area: 1/1/3/3;

  position: relative;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;

  border: 1px solid #000000;
}

.main__table_grid__left_label,
.main__table_grid__right_label {
  display: flex;
  justify-content: stretch;
  align-items: center;
  /* width: 5%; */
  height: 100%;
}

.table_label {
  width: 100%;
  height: auto;
  font-family: 'Inter';
  word-wrap: normal;
  text-align: center;
  color: white;
  writing-mode: vertical-lr;
  text-orientation: upright;
}

.main__table_grid__table {
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  height: 100%;
  /* background-color: #516AA4; */
}

.table_rows {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid white; */
  color: white;
  border: 4px solid rgba(0, 0, 0, 0);
  z-index: 999;
  cursor: pointer;
}

.label_rows {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding: 0 10px; */
  font-size: 10px;
  line-height: 10px;
  letter-spacing: 2px;
  width: 50px;
  font-family: 'Opus Text Std';
}

.orange_box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-right: 5px;
  text-align: center;
  font-size: 12px;
  height: 100%;
  width: 100%;
  background-color: #FFA600;
  font-family: 'Opus Text Std';
  z-index: 1;
}

.blue_box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 5px;
  align-items: center;
  text-align: center;
  font-size: 12px;
  height: 100%;
  width: 100%;
  background-color: #0059FF;
  font-family: 'Opus Text Std';
  z-index: 1;
}

.orange_box>p,
.blue_box>p {
  width: 50px;

}

.staff_rows {
  height: 100%;
}

.name_sharp {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.name_flat {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.text_allign_right {
  text-align: end;
}

.text_allign_left {
  text-align: start;
}

.letter_space {
  letter-spacing: 3px;
  font-size: 20px;
}

.staff_rows>img {
  height: 40px;
}

.active_box_border {
  /* box-shadow: #F4D6B1; */
  /* box-shadow: 10px 5px 5px red; */
  border: 4px solid red;
}

/* =================================================================================================== */
.main__big_keyboard {
  grid-area: 3/1/3/3;

  /* display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(25, auto);
  grid-template-rows: 1fr; */

  display: flex;
  flex-direction: row;
  justify-content: center;

  /* background-color: aqua; */
  /* height: 100%; */
  /* width: 100%; */
}

.elem_of_keyboard {
  border-radius: 0 0 5px 5px;
}

.white_elem {
  /* width: 50px; */
  width: 54px;
  height: 100%;
  background-color: white;
  border: 0.5px solid black;
}

.black_elem {
  position: relative;
  width: 38px;
  margin-left: -19px;
  margin-right: -19px;
  height: 60%;
  background-color: black;
  z-index: 1;
}

/* =================================================================================================== */
.main__small_keyboard {
  grid-area: 1/3/1/3;
  /* background-color: blue; */
  display: flex;
  justify-content: center;
  align-items: center;

}

.small_keyboard_center {
  display: flex;
  flex-direction: row;
  justify-content: center;

  height: 200px;
  width: 100%;
}

.elem_of_small_keyboard {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  border-radius: 0 0 4px 4px;
  font-size: 30px;
  font-weight: 600;
}

.label_small_keyb {
  z-index: 1;
}


.orange_text {
  color: #FFA600;
}

.blue_text {
  color: #0059FF;
}

.small_white_elem {
  /* width: 50px; */
  width: 54px;
  height: 100%;
  background-color: white;
  border: 0.5px solid black;
}

.small_black_elem {
  position: relative;
  width: 38px;
  margin-left: -19px;
  margin-right: -19px;
  height: 60%;
  background-color: black;
  z-index: 999;
}

/* =================================================================================================== */
.main__staff {
  grid-area: 2/3/2/3;
  padding: 10px;
  /* background-color: rgb(74, 255, 83); */
  display: flex;
  justify-content: center;
}

.main__staff>img {
  height: 200px;
}

/* =================================================================================================== */
.main__thermometer {
  grid-area: 3/3/3/3;
  /* background-color: blueviolet; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-family: 'Opus Text Std';
  color: white;
}

.thermometr_box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.thermometr {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(7, auto);

}

.therm_elem {
  text-align: center;
  padding: 0 10px;
}