@font-face {
    font-family: 'OpusChordsStd';
    src: url(/fonts/OpusChordsStd.otf);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* запрет выбора текста */
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100vw;
    height: 100vh;
    color: white;
    font-family: 'Montserrat';
    font-size: 14px;
    letter-spacing: 2px;
    font-weight: 100;

    background: linear-gradient(180deg, #182A48 0%, #516AA4 100%);
    border: 10px solid #F4D6B1;
    /* cursor: pointer; */
}


/* ===================================== SLIDER ========================================*/
.slider {
    display: flex;
    position: relative;
    flex-direction: row;
    /* justify-content: center; */
    /* align-items: center; */
    width: 100%;
    height: 100%;
    margin: 0px;
    /* overflow: hidden; */
}

/* СЛАЙД АБСОЛЮТНО РАСТЯГИВАЕТСЯ ВНУТРИ КОНТЕЙНЕРА */
.slide {
    /* width: 96%; */
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: -1px;
    right: -1px;
    transition: all 1s ease-in-out;
    /* border: 2px solid red; */

    overflow: auto;
    /* scrollbar-width: thin; */
    /* scrollbar-color: #F4D6B1; */
    /* direction: rtl; */
}

.left_right_container {
    position: absolute;
    top: 1vh;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.prev,
.next {
    /* position: absolute; */

    display: flex;
    margin: 0 30px;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;

    /* margin-top: 5px; */
    z-index: 100;
    transition: transform 0.2s, background 0.5s;
    cursor: pointer;
    background-size: 100% 100%;
}

.material-icons:hover {
    transform: scale(1.2);
}

.prev {
    background-image: url(/image/Symmetry/LEFT.svg);
}

.next {
    background-image: url(/image/Symmetry/RIGHT.svg);
}





.table_container {
    width: 100%;
    height: 70vh;
    /* height: 400px; */
    display: grid;
    grid-template-columns: repeat(12, auto);
    /* overflow: scroll; */
}

.name,
.name_header {
    grid-column-start: 1;
    grid-column-end: 3;
}

.chord {
    grid-column-start: 3;
    grid-column-end: 4;
    font-family: 'OpusChordsStd';
}

.chord_header {
    grid-column-start: 3;
    grid-column-end: 4;
}

.chord_formula,
.chord_formula_header {
    grid-column-start: 4;
    grid-column-end: 6;
}

.chord_formula {
    font-family: 'Opus Text Std';
}


.formula,
.formula_header {
    grid-column-start: 7;
    grid-column-end: 9;
}

.tetrachord,
.tetrachord_header {
    grid-column-start: 10;
    grid-column-end: 11;
}

.alteration,
.alteration_header {
    grid-column-start: 11;
    grid-column-end: 13;
}

.label_table {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column-start: 1;
    grid-column-end: 13;
    text-align: center;
    padding: 10px;
    border-top: 0.5px rgba(39, 215, 255, 0.3) solid;
    border-bottom: 0.5px rgba(39, 215, 255, 0.3) solid;
}

.name_header {
    cursor: pointer;
}

.table_item {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* line-height: 30px; */
    /* padding: 10px; */
    /* border-top: 0.5px solid white; */
    border: 0.5px solid rgba(39, 215, 255, 0.3);
}

.table_item_child {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    text-align: center;
}

.font_opus_std {
    font-family: 'Opus Text Std';
}

/* .formula>div:nth-child(1),
.formula>div:nth-child(4),
.formula>div:nth-child(5),
.formula>div:nth-child(8) {
    background-color: rgba(255, 255, 255, 0.15);
} */

/* .stage_1,
.stage_4,
.stage_5,
.stage_8 {
    background-color: rgba(255, 255, 255, 0.15);
} */
.chord_formula,
.formula {
    font-size: 18px;
}

.name {
    text-align: center;
    flex-direction: column;
    padding: 10px 0;
    /* font-size: 12px; */
    /* word-spacing: 30000px; */
}

.name>div:nth-child(2) {
    color: #F4D6B1;
    font-size: 12px;
}

.alteration {
    justify-content: start;
}

.alteration>div {
    width: auto;
    padding-left: 5px;
}

.button_container {
    display: flex;
    justify-content: center;
    padding: 10px 0;
    gap: 50px;
    width: 100%;
    border-top: 0.5px rgba(39, 215, 255, 0.3) solid;
    border-bottom: 0.5px rgba(39, 215, 255, 0.3) solid;
    background-color: rgba(255, 255, 255, 0.15);
}


/* =================================================================================================== */
.main__big_keyboard {
    /* grid-area: 3/1/3/3; */

    /* display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(25, auto);
    grid-template-rows: 1fr; */

    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 30vh;
}

.opus_text {
    font-family: 'Opus Text Std';
}

.new_p_label {
    text-align: center;
    font-size: 16px;
    color: #000000b7;
    text-orientation: upright;
    /* writing-mode: vertical-lr; */
}

.elem_of_keyboard {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    border-radius: 0 0 5px 5px;
    padding-bottom: 5px;
}

.white_elem {
    /* width: 50px; */
    width: 54px;
    height: 100%;
    background-color: white;
    border: 0.5px solid rgb(91, 91, 91);
}

.black_elem {
    position: relative;
    width: 38px;
    margin-left: -19px;
    margin-right: -19px;
    height: 60%;
    background-color: black;
    border: 0.5px solid black;
    z-index: 1;
}

.active_keyb_elem {
    background-color: rgb(85, 234, 245);
    transition: all var(--ms_transition) ease-out;
}

.mousemove {
    box-shadow: inset 2px 2px 0 white, inset -2px -2px 0 white;
}

.mousemove_yellow {
    box-shadow: inset 2px 2px 0 rgb(246, 255, 0), inset -2px -2px 0 rgb(246, 255, 0);
}

.led_on_blue {
    background-color: aqua;
}

.led_on_yellow {
    background-color: rgb(246, 255, 0);
}

.click_play_elem {
    box-shadow: inset 2px 2px 0 rgb(105, 195, 1), inset -2px -2px 0 rgb(105, 195, 1);
}

.sound_on {
    background-color: rgb(187, 0, 255);
}