:root {
    --const: 840px;
    --background: linear-gradient(180deg, #182A48 0%, #516AA4 100%);
    --font-size: calc(var(--const) / 30);
    --matrix-color: rgba(144, 144, 144, 0.78);
    --active-elem-color: #f0f09d;
}

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: OPUSTEXT;
    /* Гарнитура шрифта */
    src: url(/fonts/Musisync-KVLZ.ttf);
    /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: MAESTRO;
    /* Гарнитура шрифта */
    src: url(/fonts/MAESTRO.TTF);
    /* Путь к файлу со шрифтом */
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* font-family: MAESTRO; */
    /* letter-spacing: 10px; */
    color: #F4D6B1;
    /* padding-top: 15px; */
    justify-content: start;
    align-items: start;
    /* padding: 40px 0 0 40px; */
    background: var(--background);
    border: 10px solid #DDB078;
    border-color: linear-gradient(180deg, #DDB078 25.52%, #F4D6B1 59.9%);
    /* overflow: scroll; */
}


.numbMatrx {
    position: absolute;
    top: 45%;
    bottom: 55%;
    margin: auto;
    margin-top: -30px;
    font-size: 6px;
    transform: rotate(-90deg);
}

.app {
    position: relative;
    margin-top: 30px;
    margin-left: 80px;
}

.containMatrix {
    width: var(--const);
    height: var(--const);
}

.mtrxCircle {
    display: block;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    /* border: 1px solid rgba(144, 144, 144, 0.78); */
    box-shadow: 0 0 0 1px var(--matrix-color) inset;
    border-radius: 50%;
    cursor: pointer;
}


.active {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* align-items: center; */
    font-family: MAESTRO;

    
    text-align: center;
    border-radius: 50%;
    z-index: 1000;
    box-shadow: 0 0 0 1.5px var(--active-elem-color) inset;
    top: 50%;
    cursor: pointer;
    transform: translateY(-50%);
}

.pause{
    box-shadow: none;
    /* box-shadow: 0 0 0 1.5px rgba(233, 242, 156, 0.404) inset; */
    border: 2.5px dotted rgba(255, 255, 255, 0.465);
    
}

.active>p {
    padding-top: 5px;
    user-select: none;
    font-size: 14px;
    line-height: 20px;
    pointer-events: none;
    z-index: 999;
    /* letter-spacing: -2px; */
}

.pause>p{
    padding-top: 0px;
    /* line-height: 25px; */
    font-size: 20px;
}

/* .selected {
    background-color: red;
    opacity: 0.6;
}

.highlight {
    border: 2px dashed #DDB078;
}

.dragging {
    background-color: red;
} */


.handle {
    position: absolute;
    width: 5px;
    height: 30px;
    margin: auto;
    top: 0;
    bottom: 0;
    /* background-color: red; */
    /* cursor: ew-resize; */
    z-index: 1001;
}

.left-handle {
    left: 1px;
    /* cursor: w-resize; */
    cursor: url('/cursor/left_32px.png')16 16, auto;
}

.right-handle {
    right: 1px;
    cursor: url('/cursor/right_32px.png')16 16, auto;
}

.left_double_arrow {
    display: none;
    left: -2.5px;
    cursor: url('/cursor/left-right_32px.png')16 16, auto;
}

.right_double_arrow {
    display: none;
    right: -2.5px;
    cursor: url('/cursor/left-right_32px.png')16 16, auto;
}

/* ========== размер длительностей ========== */
.wholeNote > p{
    font-size: calc(var(--font-size) * 4.75 );
    line-height: calc(var(--font-size) * 8.5);
}
.halfNote_2w4w8w16 > p{
    font-size: calc(var(--font-size) * 4.5 );
    line-height: calc(var(--font-size) * 8);
}
.halfNote_2w4w8 > p{
    font-size: calc(var(--font-size) * 4.25);
    line-height: calc(var(--font-size) * 7.5);
}
.halfNote_2w4w16 > p{
    font-size: calc(var(--font-size) * 4 );
    line-height: calc(var(--font-size) * 7);
}
.halfNote_2w4 > p{
    font-size: calc(var(--font-size) * 3.75);
    line-height: calc(var(--font-size) * 6.5);
}
.halfNote_2w8w16 > p{
    font-size: calc(var(--font-size) * 3.5 );
    line-height: calc(var(--font-size) * 6);
}
.halfNote_2w8 > p{
    font-size: calc(var(--font-size) * 3.25);
    line-height: calc(var(--font-size) * 5.5);
}
.halfNote_2w16 > p{
    font-size: calc(var(--font-size) * 3 );
    line-height: calc(var(--font-size) * 5);
}
.halfNote > p{  
    font-size: calc(var(--font-size) * 2.75 );
    line-height: calc(var(--font-size) * 4.5);
    }
.quarterNote_4w8w16 > p{
    font-size: calc(var(--font-size) * 2.5 );
    line-height: calc(var(--font-size) * 4);
}
.quarterNote_4w8 > p{
    font-size: calc(var(--font-size) * 2.25 );
    line-height: calc(var(--font-size) * 3.5);
}
.quarterNote_4w16 > p{
    font-size: calc(var(--font-size) * 2 );
    line-height: calc(var(--font-size) * 3);
}
.quarterNote_4 > p{
    font-size: calc(var(--font-size) * 1.75 );
    line-height: calc(var(--font-size) * 2.5);
}
.eighthNote_8w16 > p{
    font-size: calc(var(--font-size) * 1.5 );
    line-height: calc(var(--font-size) * 3);
}
.eighthNote_8 > p{
    font-size: calc(var(--font-size) * 1.25 );
    line-height: calc(var(--font-size) * 2.5);
}
.sixteenthNote_16 > p{
    font-size: calc(var(--font-size) * 1 );
    line-height: calc(var(--font-size) * 1.5);
}


/* ======================== cardAlphabet ========================== */
.cardAlphabetContain{
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 15px;
    width: auto;
    
}
/* .cardAlphabet{

} */

.cardAlphabet_card{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 3px;
    margin: 3px;
    gap: 2px;
    border: 1px solid var(--matrix-color);
    border-radius: 3px;
    cursor: grab;
}

.cardAlphabet_card_circle{
    width: 10px;
    height: 10px;
    border: 1px solid var(--matrix-color);
    border-radius: 50%;
}
.card_circle_on{
    background-color: var(--matrix-color);
}

/* ======================= drop ========================= */
.drop_insert_border_on{
    /* box-shadow: 0 0 0 1px red inset; */
    border: 1.5px dashed #dedede;
}