:root {
    --const: 420px;
    --background: linear-gradient(180deg, #182A48 0%, #516AA4 100%);
}

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: OPUSTEXT;
    /* Гарнитура шрифта */
    src: url(/fonts/Musisync-KVLZ.ttf);
    /* Путь к файлу со шрифтом */
}
@font-face {
    font-family: MAESTRO;
    /* Гарнитура шрифта */
    src: url(/fonts/MAESTRO.TTF);
    /* Путь к файлу со шрифтом */
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: MAESTRO;
    /* letter-spacing: 10px; */
    color: #F4D6B1;
    padding-top: 15px;
    justify-content: start;
    align-items: center;
    background: var(--background);
    border: 10px solid #DDB078;
    border-color: linear-gradient(180deg, #DDB078 25.52%, #F4D6B1 59.9%);
    /* overflow: scroll; */
}

.app{
    position: relative;
}

.containMatrix {
    width: 420px;
    height: 420px;
}

.mtrxCircle {
    display: block;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    /* border: 1px solid rgba(144, 144, 144, 0.78); */
    box-shadow: 0 0 0 1px rgba(144, 144, 144, 0.78) inset;
    border-radius: 50%;
    cursor: pointer;
}


.active {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* align-items: center; */
    font-family: MAESTRO;
    
    line-height: 20px;
    text-align: center;
    border-radius: 50%;
    z-index: 1000;
    box-shadow: 0 0 0 1.5px rgb(233, 242, 156) inset;
    top: 50%;
    cursor: pointer;
    transform: translateY(-50%);
}

.active > p{
    padding-top: 5px;
    user-select: none;
    font-size: 16px;
    pointer-events: none;
    /* letter-spacing: -2px; */
}

.selected{
    background-color: red;
    opacity: 0.6;
}

.highlight {
    border: 2px dashed #DDB078;
}

.dragging{
    background-color: red;
}


.handle {
    position: absolute;
    width: 5px;
    height: 10px;
    margin: auto;
    top: 0;
    bottom: 0;
    /* background-color: red; */
    cursor: ew-resize;
    z-index: 1001;
}

.left-handle {
    left: 2px;
}

.right-handle {
    right: 2px;
}
