:root {
    --const: 420px;
    --background: linear-gradient(180deg, #182A48 0%, #516AA4 100%);
}

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: OPUSTEXT;
    color: #F4D6B1;
    padding-top: 15px;
    justify-content: start;
    align-items: center;
    background: var(--background);
    border: 20px solid #DDB078;
    border-color: linear-gradient(180deg, #DDB078 25.52%, #F4D6B1 59.9%);
    /* overflow: scroll; */
}

.containMatri {
    position: relative;
}

.mtrxCircle {
    display: block;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    /* border: 1px solid rgba(144, 144, 144, 0.78); */
    box-shadow: 0 0 0 1px rgba(144, 144, 144, 0.78) inset;
    border-radius: 50%;
    cursor: pointer;
}


/* .matrix_16 {
    width: calc(var(--const) / 16);
    height: calc(var(--const) / 16);
   
}

.matrix_8 {
    width: calc(var(--const) / 8);
    height: calc(var(--const) / 8);
   
}

.matrix_4 {
    width: calc(var(--const) / 4);
    height: calc(var(--const) / 4);
  
}

.matrix_2 {
    width: calc(var(--const) / 2);
    height: calc(var(--const) / 2);
 
}

.matrix_1 {
    width: calc(var(--const) / 1);
    height: calc(var(--const) / 1);

} */

.active {
    position: absolute;
    /* outline: 2px solid rgb(240, 222, 155); */
    transform-origin: center center;
    /* top:0; */
    /* bottom: 0; */
    border-radius: 50%;
    z-index: 1000;
    box-shadow: 0 0 0 1px rgb(233, 242, 156) inset;
    /* background-color: rgb(0, 172, 194); */
}

.selected{
    background-color: red;
    opacity: 0.6;
}

.highlight {
    border: 2px dashed #DDB078;
}

.dragging{
    background-color: red;
}