* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* запрет выбора текста */
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto auto auto;

    position: relative;
    /* width: 100%; */
    height: 100vh;

    background: linear-gradient(180deg, #182A48 0%, #516AA4 100%);
    border: 10px solid #F4D6B1;
}

.container_start_btn {
    position: absolute;
    top: 5px;
    right: 5px;
}

.container_start_btn>input {
    padding: 3px 10px;
}

.hide_show_block>input {
    padding: 2px 3px;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100%;
}

.container_for_keyboard {
    width: min-content;
    display: grid;
    grid-template-columns: repeat(25, auto);
    gap: 1vh;
    margin-top: 6vh;
}

.left_gap {
    margin-left: 0.75vh;
}

.key_elem {
    /* margin: 0 0.5vh; */
    width: 5vh;
    height: 5vh;

    border: 1px solid #D9D9D9;
    border-radius: 50%;
}

.black {
    margin-top: -5vh;
    margin-left: -2.5vh;
    margin-right: -7.5vh;
}

.container_table {
    margin: 5vh;
    /* width: 520px; */
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: stretch;
    align-items: stretch;
    /* display: grid; */
    /* grid-template-columns: repeat(13, auto); */
    /* column-gap: 0.5vh; */
    /* row-gap: 2vh; */
    color: white;
    font-size: 4vh;
}

.rows_table {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 0;
}

.rows_table>div:first-child {
    margin-right: 20px;
}

/* .table_item:nth-child(4) {
    margin-left: 50px;
} */

.table_item {
    /* flex: 1 1 7.5%; */
    display: flex;
    width: 30px;
    height: 30px;
    margin: 3px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.mousemove {
    box-shadow: 0px 0px 15px yellow;
    outline: 1px yellow solid;
}

.yellow {
    background-color: yellow;
}

.dash_border {
    border: 2px dashed #46f3ff;
}



/* .translateY {
    transform: translateY(-2vh);
} */

.line {
    width: 100%;
    height: 0.5vh;
    background-color: white;
    transform-origin: center;

}

.line_wB {
    transform: rotate(-45deg);
}

.line_Bw {
    transform: rotate(45deg);
}

.line_ww {
    transform: translateY(10px);
}

.line_BB {
    transform: translateY(-10px);
}

.margin_left_and_rotate {
    /* margin-left: 50px; */
    transform: translateX(-36px) rotate(45deg);
}

.margin_left_and_minus_rotate {
    /* margin-left: 50px; */
    transform: translateX(-36px) rotate(-45deg);
}

.space_left {
    margin-left: 50px;
}



/* ====================================================================== */
.wb_table_column {
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
    gap: 35px;
    padding: 0 40px;
    /* width: 100px; */
    height: 43px;
    /* border: 1px dashed white; */
}

.table_row {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.new_vertical_line {
    position: relative;
    border: 0.5px solid white;
}

.point_w_and_b {
    position: absolute;
    width: 28px;
    height: 28px;
    top: 6px;
    left: -14px;
    border: 2px solid rgb(36, 219, 255);
    border-radius: 50%;
    background-color: rgb(36, 219, 255);
    cursor: pointer;
}

.fix_width {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    text-align: center;

    border-color: rgba(0, 0, 0, 0);
}

.point_label {
    position: absolute;
    left: -9px;
}

.hide_btn {
    display: none;
}