* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* запрет выбора текста */
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto auto auto;

    position: relative;
    /* width: 100%; */
    /* height: 100vh; */
    min-height: 100vh;
    background: linear-gradient(180deg, #182A48 0%, #516AA4 100%);
    border: 10px solid #F4D6B1;
    overflow: auto;
}

.container_start_btn {
    position: fixed;
    display: flex;
    top: 5px;
    right: 5px;
}

.btn {
    padding: 3px 10px;
}

.hide_show_block {
    display: flex;
    flex-direction: column;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100%;
}

.container_for_keyboard {
    width: min-content;
    display: grid;
    grid-template-columns: repeat(25, auto);
    gap: 1vh;
    margin-top: 6vh;
}

.left_gap {
    margin-left: 0.75vh;
}

.key_elem {
    /* margin: 0 0.5vh; */
    width: 5vh;
    height: 5vh;

    border: 1px solid #D9D9D9;
    border-radius: 50%;
}

.black {
    margin-top: -5vh;
    margin-left: -2.5vh;
    margin-right: -7.5vh;
}

.container_table {
    padding-top: 2.5vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: stretch;
    align-items: stretch;
    color: white;
    font-size: 4vh;
}

.overflow_scroll{
    overflow: auto;
}

.rows_table {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 0;
}

.rows_table>div:first-child {
    margin-right: 20px;
}

/* .table_item:nth-child(4) {
    margin-left: 50px;
} */

.table_item {
    /* flex: 1 1 7.5%; */
    display: flex;
    width: 30px;
    height: 30px;
    margin: 3px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

/* .translateY {
    transform: translateY(-2vh);
} */

.line {
    width: 100%;
    height: 0.5vh;
    background-color: white;
    transform-origin: center;

}

.line_wB {
    transform: rotate(-45deg);
}

.line_Bw {
    transform: rotate(45deg);
}

.line_ww {
    transform: translateY(10px);
}

.line_BB {
    transform: translateY(-10px);
}

.margin_left_and_rotate {
    /* margin-left: 50px; */
    transform: translateX(-36px) rotate(45deg);
}

.margin_left_and_minus_rotate {
    /* margin-left: 50px; */
    transform: translateX(-36px) rotate(-45deg);
}

.space_left {
    margin-left: 50px;
}


/* ====================================================================== */
.wb_table_column {
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
    gap: 35px;
    padding: 0 40px;
    /* width: 100px; */
    height: 43px;
    /* border: 1px dashed white; */
}

.table_row {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.new_vertical_line {
    position: relative;
    border: 0.5px solid white;
}

.wb_table_column:nth-child(4)>.new_vertical_line:nth-child(3),
.wb_table_column:nth-child(5)>.new_vertical_line:nth-child(3) {
    margin-left: 40px;
}

.point_w_and_b {
    position: absolute;
    width: 28px;
    height: 28px;
    top: 6px;
    left: -14px;
    border: 2px solid rgba(136, 227, 255, 0.37);
    border-radius: 50%;
    background-color: rgba(136, 227, 255, 1);
    cursor: pointer;
}

.fix_width {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    text-align: center;

    border-color: rgba(0, 0, 0, 0);
}

.point_label {
    position: absolute;
    left: -9px;
}

.hide_btn {
    display: none;
}

/* таблица интервалов с протатипами позиций руки */
.column_for_position {
    display: flex;
    flex-direction: column;
    /* width: 300px; */
    /* height: 50px; */
    /* border: 1px solid white; */
}

.row_label_for_position {
    width: 100px;
    height: 50px;
    text-align: center;
}

.row_for_position {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: relative;
    margin: 2px 15px;
    /* padding: 0 14px; */
    gap: 3px;
    /* width: 400px; */
    height: 50px;
    /* height: 100%; */
    /* border: 1px solid yellow; */
}

.new_top_label_row {
    position: absolute;
    top: -16px;
    font-size: 11px;
    
}

.circle_table_elem {
    width: 20px;
    height: 20px;
    border: 1px solid rgba(255, 255, 255, 0.474);
    border-radius: 50%;
    font-size: 8px;
    /* font-weight: bold; */
    text-align: center;
    line-height: 19px;
    color: white;
    text-shadow: 0px 0px 8px rgb(0, 0, 0);
}

.white_key_circle {
    background-color: rgba(136, 227, 255, 0.37);
}

.up_key_circle {
    margin-top: -38px;
    margin-left: -11.5px;
    margin-right: -11.5px;
    /* background-color: black; */
}

.hide_overflow_circle {
    display: none;
}

/* стили активности курсора */
.mousemove {
    box-shadow: 0px 0px 15px yellow;
    outline: 1px yellow solid;
}

.yellow {
    background-color: yellow;
}

.dash_border {
    border: 2px dashed #46f3ff;
}

/* =============================== chromatic ================================ */
.row_label_for_chrom {
    width: 100px;
    height: 50px;
    text-align: center;
    font-size: 18px;
    margin: 2px 0 2px 0;
    line-height: 50px;
}

.one_color_key_circle,
.two_color_key_circle {
    /* color: #ff04f2; */
    font-weight: 800;
    /* border-color: #103d8b; */
    /* border-width: 1px; */
}

.one_color_key_circle{
    border-color: #b9b9b9;
}

.one_color_key_circle {
    background-color: #F46B23;
}

.two_color_key_circle {
    background-color: #FFE700;
}

.three_color_key_circle {
    background-color: #A8CF38;
}
.four_color_key_circle {
    background-color: #2CB34A;
}
.five_color_key_circle {
    background-color: #01ACA4;
}
.six_color_key_circle {
    background-color: #0EAFE5;
}
.seven_color_key_circle {
    background-color: #0072BB;
}
.eight_color_key_circle {
    background-color: #53439B;
}
.nine_color_key_circle {
    background-color: #7D4199;
}
.teen_color_key_circle {
    background-color: #A82068;
}
.eleven_color_key_circle {
    background-color: #EE2979;
}
.twelve_color_key_circle {
    background-color: #DF2027;
}

.gap_space{
    margin-left: 20px;
}

.margin_top{
    margin-top: 100px;
}