/* * {
    margin: 0; padding: 0;
} */

/* html {
    height: 100%;
} */

:root {
    /* --const: 840px; */
    /* --background: linear-gradient(180deg, #182A48 0%, #516AA4 100%); */
    /* --font-size: calc(var(--const) / 30); */
    --matrix-color: rgba(144, 144, 144, 0.78);
    /* --active-elem-color: #f0f09d; */
}

@font-face {
    font-family: MAESTRO;
    /* Гарнитура шрифта */
    src: url(/fonts/Maestro2.ttf);
    /* Путь к файлу со шрифтом */
}

.metronome_container {
    position: absolute;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: reverse;

    left: 50%;
    transform: translateX(-50%);
    bottom: 10px;
    margin: 10px;
    height: auto;

    gap: 10px;

    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    z-index: 2000;
}

#play-button {
    width: 40px;
    height: 40px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}

.title {
    /* font-size: 20px; */
    text-align: center;
}

#tempo {
    /* width: 30px; */
    font-size: 20px;
}

.bpm {
    font-size: 12px;

}

.tempo-controls {
    /* margin-top: 30px; */

    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row;
}

.tempo-container {
    text-align: center;
    width: 50px;
    margin: 0 10px;
}

button {
    /* -webkit-appearance: none; */
    /* padding: 6px; */
    border: 1px solid var(--matrix-color);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    /* margin: 5px; */
    background: none;
    color: white;
    cursor: pointer;
}

button:focus {
    outline: none;
}

button:active {
    background-color: rgba(240, 248, 255, 0.493);
}

button:disabled {
    opacity: 0.3;
}

.contain_btn_pulse {
    font-family: MAESTRO;
}

.sizeMenuBtn {
    width: 40px;
    height: 40px;
    font-size: 28px;
    text-align: center;
    cursor: pointer;
}

.menuContain {
    position: absolute;
    display: flex;
    flex-direction: row;
    gap: 15px;
    top: -40px;
    right: 0;

}

.menuContainDspNone {
    display: none;
}

.menuElement {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    font-size: 16px;
    letter-spacing: 2px;
    line-height: 16px;
    cursor: pointer;
    border: 1px var(--matrix-color) solid;
    border-radius: 50%;
}

.menuElement:hover {
    background-color: rgba(240, 248, 255, 0.500);
}

.menuElementActive {
    border-color: white;
    background-color: rgba(240, 248, 255, 0.150);
}

.play {
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 25px solid #ffffff;
    margin-left: 7.5px;
}

.pause_metr {
    box-sizing: content-box;
    width: 7.5px;
    height: 30px;
    border: none;
    border-left: 7.5px solid #ffffff;
    border-right: 7.5px solid #ffffff;
}

.add_metronome_click_active {
    background: #ffffff17;
}

.akcent_container {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: -20px;
    width: min-content;
    height: min-content;
    gap: 5px;
}

.circle_akcent_elem {
    width: 15px;
    height: 15px;
    border: 1px solid whitesmoke;
    border-radius: 50%;
    cursor: pointer;
}

.circle_akcent_elem_active {
    background-color: whitesmoke;
}