:root {
    --matrix-color: rgba(144, 144, 144, 0.78);
}

@font-face {
    font-family: MAESTRO;
    src: url(/fonts/Maestro2.ttf);
}

.bottom_container {
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
    position: absolute;
    gap: 15px;
    bottom: 10px;
    z-index: 2000;
}

/* ====================== metronome buttons ============================ */
.metronome_buttons_container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    z-index: 2000;
}

.metronome_buttons_container>button {
    width: 40px;
    height: 40px;
    color: white;

    border: 1px solid var(--matrix-color);
    border-radius: 50%;
    background: none;
    cursor: pointer;
}

.metronome_buttons_container>button:focus {
    outline: none;
}

.metronome_buttons_container>button:active {
    background-color: rgba(240, 248, 255, 0.493);
}

.metronome_buttons_container>button:disabled {
    opacity: 0.3;
}

.metronome_buttons_container>.play-button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}

.metronome_buttons_container>.play-button>.play {
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 25px solid #ffffff;
    margin-left: 7.5px;
}

.metronome_buttons_container>.play-button>.pause_metr {
    box-sizing: content-box;
    width: 7.5px;
    height: 30px;
    border: none;
    border-left: 7.5px solid #ffffff;
    border-right: 7.5px solid #ffffff;
}

.metronome_buttons_container>.tempo-container {
    text-align: center;
    margin: 0 10px;
}

.metronome_buttons_container>.tempo-container>.tempo {
    font-size: 20px;
}

.metronome_buttons_container>.tempo-container>.bpm {
    font-size: 12px;
}

.contain_btn_pulse {
    font-family: MAESTRO;
}

/* ===================== left size menu ==========================*/
.sizeMenuBtn {
    position: fixed;
    top: 10px;
    left: 10px;
    width: 40px;
    height: 40px;
    font-size: 28px;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
}

.menuContain {
    position: absolute;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    gap: 15px;
}

.menuContainDspNone {
    display: none;
}

.menuElement {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    font-size: 16px;
    letter-spacing: 2px;
    line-height: 16px;
    cursor: pointer;
    border: 1px var(--matrix-color) solid;
    border-radius: 50%;
}

.menuElement:hover {
    background-color: rgba(240, 248, 255, 0.500);
}

.menuElementActive {
    border-color: white;
    background-color: rgba(240, 248, 255, 0.150);
}



.add_metronome_click_active {
    background: #ffffff17;
}

.akcent_container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    position: absolute;
    bottom: 50px;
    width: min-content;
    height: min-content;
    gap: 5px;
}

.circle_akcent_elem {

    width: 25px;
    height: 25px;
    border: 1px solid rgba(144, 144, 144, 0.78);
    border-radius: 50%;
    cursor: pointer;
}

.circleAkcentElem_p {
    text-align: center;
    /* margin-top: -24px; */
    font-size: 12px;
    font-weight: bold;
    line-height: 21px;
    color: rgb(190, 190, 190);
}

.circle_akcent_elem_active {
    box-shadow: 0 0 0 1px white;
}

.circle_akcent_elem_metr_on_active {
    box-shadow: 0 0 0 1px #F4D6B1 inset;
}

.eraser {
    width: 20px;
    height: 20px;
    cursor: pointer;
}