:root {
    --matrix-color: rgba(144, 144, 144, 0.78);
    --opacity-background: #2d2d2d20;
    --border-opacity-elem: rgba(255, 255, 255, 0.489);
}

@font-face {
    font-family: MAESTRO;
    src: url(/fonts/Maestro2.ttf);
}

.bottom_container {
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
    position: absolute;
    gap: 15px;
    bottom: 10px;
    z-index: 2000;
}

/* ====================== metronome buttons ============================ */
.metronome_buttons_container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    z-index: 2000;
}

.metronome_buttons_container>button {
    width: 40px;
    height: 40px;
    color: white;
    text-align: center;
    border: 1px solid var(--matrix-color);
    border-radius: 50%;
    background: none;
    cursor: pointer;
}

.metronome_buttons_container>button:focus {
    outline: none;
}

.metronome_buttons_container>button:active {
    background-color: rgba(240, 248, 255, 0.493);
}

.metronome_buttons_container>button:disabled {
    opacity: 0.3;
}

.metronome_buttons_container>.play-button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}

.metronome_buttons_container>.play-button>.play {
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 25px solid #ffffff;
    margin-left: 7.5px;
}

.metronome_buttons_container>.play-button>.pause_metr {
    box-sizing: content-box;
    width: 7.5px;
    height: 30px;
    border: none;
    border-left: 7.5px solid #ffffff;
    border-right: 7.5px solid #ffffff;
}

.metronome_buttons_container>.tempo-container {
    text-align: center;
    margin: 0 10px;
}

.metronome_buttons_container>.tempo-container>.tempo {
    font-size: 20px;
}

.metronome_buttons_container>.tempo-container>.bpm {
    font-size: 12px;
}



/* ===================== left size menu ==========================*/
.sizeMenuBtn {
    position: fixed;
    top: 10px;
    left: 10px;
    width: 40px;
    height: 40px;
    font-size: 28px;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
}

.menuContain {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    padding: 10px 0;
    gap: 15px;
    left: -10px;
    width: 100px;
    background: var(--opacity-background);
    border: 1px var(--border-opacity-elem) solid;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.menuContainDspNone {
    display: none;
}

.menuElement {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    font-size: 16px;
    letter-spacing: 2px;
    line-height: 16px;
    cursor: pointer;
    border: 1px var(--matrix-color) solid;
    border-radius: 50%;
}

.menuElement:hover {
    background-color: rgba(240, 248, 255, 0.500);
}

.menuElementActive {
    border-color: white;
    background-color: rgba(240, 248, 255, 0.150);
}
.menuElement_sw {
    display: flex;
    flex-direction: row;
    justify-content: start;
    width: 50px;
    height: 30px;
    border-color: white;
    border-radius: 25px;
    background-color: rgba(240, 248, 255, 0.150);
}
.menuElement_sw > .thumbler{
    width: 30px;
    height: 30px;
    color: black;
    font-family: MAESTRO;
    font-size: 16px;
    font-weight: bold;
    background-color: white;
    border-radius: 50%;
}
.menuContain > .menuElement_sw:nth-last-child(1) > .thumbler:first-letter {
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    font-weight: bold;
    transform: scale(2);
}
.menuElementActive_sw{
    justify-content: end;
    background-color: rgba(0, 106, 255, 0.549);
}



.add_metronome_click_active {
    background: #ffffff17;
}

.akcent_container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    position: absolute;
    bottom: 50px;
    width: min-content;
    height: min-content;
    gap: 5px;
}

.circle_akcent_elem {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    border: 1px solid rgba(144, 144, 144, 0.78);
    border-radius: 50%;
    cursor: pointer;
}
.circle_akcent_elem:nth-child(4),
.circle_akcent_elem:nth-child(8),
.circle_akcent_elem:nth-child(12),
.circle_akcent_elem:nth-child(16){
    /* background: red; */
    margin-right: 20px;
}
.circleAkcentElem_p {
    text-align: center;
    /* margin-top: -24px; */
    font-size: 12px;
    font-weight: bold;
    line-height: 21px;
    color: rgb(190, 190, 190);
}

.circle_akcent_elem_active {
    box-shadow: 0 0 0 1px white;
}

.circle_akcent_elem_metr_on_active {
    box-shadow: 0 0 0 1px #F4D6B1 inset;
}

.eraser {
    width: 20px;
    height: 20px;
    cursor: pointer;
}