:root {
    --base-size: 840px;
    /* --const: 840px; */
    --background: linear-gradient(180deg, #182A48 0%, #516AA4 100%);
    --font-size: calc(var(--base-size) / 30);
    --matrix-color: rgba(144, 144, 144, 0.538);
    --active-elem-color: #F4D6B1;
}

/* @media (max-width: 600px) and (max-height: 300px) {
    :root {
        --const: calc(var(--base-size) * 0.9); 
}
} */

* {
    user-select: none;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: OPUSTEXT;
    /* Гарнитура шрифта */
    src: url(/fonts/Musisync-KVLZ.ttf);
    /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: MAESTRO;
    /* Гарнитура шрифта */
    src: url(/fonts/Maestro2.ttf);
    /* Путь к файлу со шрифтом */
}

.font {
    font-family: MAESTRO;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* font-family: MAESTRO; */
    /* letter-spacing: 10px; */
    color: #F4D6B1;
    /* padding-top: 15px; */
    justify-content: center;
    align-items: center;
    /* padding: 40px 0 0 40px; */
    background: var(--background);


    /* border: 10px solid #DDB078; */
    /* box-shadow: 0 0 0 10px #DDB078 inset; */
    /* border-color: linear-gradient(180deg, #DDB078 25.52%, #F4D6B1 59.9%); */

    /* overflow: hidden; */
    /* overflow-x: hidden; отключает горизонтальный скролл */
    /* overflow-y: scroll; включает вертикальный скролл */
}

/* body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(/backgrounds/2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    filter: grayscale(20%) blur(5px) brightness(60%) contrast(90%);
} */


/* .numbMatrx {
    position: absolute;
    top: 45%;
    bottom: 55%;
    margin: auto;
    margin-top: -30px;
    font-size: 6px;
    transform: rotate(-90deg);
} */

.app {
    position: relative;
    /* margin-top: calc(var(--base-size) / 40); */
    /* margin-left: calc(var(--base-size) / 6); */
    left: 0;
    right: 0;
    margin: auto;
    background: red;
    /* margin-left: 90px; */
}

.containMatrix {
    /* width: var(--base-size); */
    /* height: var(--base-size); */
    /* position: absolute; */
    /* left: 0; */
    /* right: 0; */
    /* margin: auto; */
}

.mtrxCircle {
    display: block;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    /* border: 1px solid rgba(144, 144, 144, 0.78); */
    box-shadow: 0 0 0 1px var(--matrix-color) inset;
    border-radius: 50%;
    cursor: pointer;
}

.mtrxCircle_label {
    position: absolute;

    /* width: 100%; */
    /* top: 50%; */
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
    z-index: 0;
    user-select: none;
    pointer-events: none;
}


.active {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* align-items: center; */
    font-family: MAESTRO;


    text-align: center;
    border-radius: 50%;
    z-index: 1000;
    /* box-shadow: 0 0 0 1.5px var(--active-elem-color) inset; */
    /* box-shadow: 0 0 0 1px rgba(199, 199, 199, 0.451) inset, 0px 5px 5px 0px black; */
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.651) inset;
    /* background: rgba(9, 2, 37, 0.177); */
    background: #16161669;
    ;
    top: 50%;
    cursor: pointer;
    transform: translateY(-50%);
    transition: ease-in 100ms;

}

.pause {
    box-shadow: none;
    /* box-shadow: 0 0 0 1.5px rgba(233, 242, 156, 0.404) inset; */
    border: 2.5px dotted rgba(255, 255, 255, 0.596);
    background: none;

}

.active>p {

    /* font-size: 14px; */
    margin-top: calc(var(--base-size) / 105);
    user-select: none;
    pointer-events: none;
    z-index: 999;
}

.pause>p {
    margin-top: calc(-1 * (var(--base-size) / 105));
    /* font-size: 20px; */
}

.handle {
    position: absolute;
    width: 10px;
    height: 30px;
    margin: auto;
    top: 0;
    bottom: 0;
    z-index: 1001;
}

.left-handle {
    left: 3px;
    /* cursor: ew-resize; */
    touch-action: none;
}

.right-handle {
    right: 3px;

    /* cursor: ew-resize; */
    touch-action: none;
}

.left_double_arrow {
    position: absolute;
    width: 6px;
    height: 20px;
    margin: auto;
    top: 0;
    bottom: 0;


    left: -2.5px;
    /* cursor: url('/cursor/left-right_32px.png')16 16, auto; */
    background: rgba(255, 255, 255, 0.465);
    cursor: url('/cursor/resizeleftright_48.svg')24 24, col-resize;
    z-index: 1000;
}

/* .left_double_arrow:before {
    content: '\21C6';
    position: absolute;
    top: -80px;
    left: -13px;
    font-size: 40px;
    text-align: center;
    width: 0;
    height: 0;
    transform: scaleY(2);
    transition: .5s;
    opacity: 0;
    z-index: 1;
} */

.left_double_arrow:hover {
    /* transform: scaleY(3); */
    transform: scaleX(3);
    opacity: 1;
}

/* .left_double_arrow:hover:before {
    transform: scaleY(1.2);
    opacity: 1;
} */

/* .left_double_arrow:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    border-top: 1px solid var(--active-elem-color);
    border-bottom: 1px solid var(--active-elem-color);
    transform: scale(0);
    transition: .5s;

    background: var(--active-elem-color);
    z-index: -1;
} */

/* .left_double_arrow:hover:after {
    transform: scale(1);
} */

/* .right_double_arrow:hover {
    color: var(--active-elem-color);
} */



/* ========== размер шрифтов в активных нотах ========== */
.wholeNote_1>p {
    font-size: calc(var(--font-size) * 4.75);
    line-height: calc(var(--font-size) * 9);
}

.halfNote_2w4w8w16>p {
    font-size: calc(var(--font-size) * 4.5);
    line-height: calc(var(--font-size) * 8.5);
}

.halfNote_2w4w8>p {
    font-size: calc(var(--font-size) * 4.25);
    line-height: calc(var(--font-size) * 8);
}

.halfNote_2w4w16>p {
    font-size: calc(var(--font-size) * 4);
    line-height: calc(var(--font-size) * 7.5);
}

.halfNote_2w4>p {
    font-size: calc(var(--font-size) * 3.75);
    line-height: calc(var(--font-size) * 7);
}

.halfNote_2w8w16>p {
    font-size: calc(var(--font-size) * 3.5);
    line-height: calc(var(--font-size) * 6.5);
}

.halfNote_2w8>p {
    font-size: calc(var(--font-size) * 3.25);
    line-height: calc(var(--font-size) * 6);
}

.halfNote_2w16>p {
    font-size: calc(var(--font-size) * 3);
    line-height: calc(var(--font-size) * 5.5);
}

.halfNote_2>p {
    font-size: calc(var(--font-size) * 2.75);
    line-height: calc(var(--font-size) * 5);
}

.quarterNote_4w8w16>p {
    font-size: calc(var(--font-size) * 2.5);
    line-height: calc(var(--font-size) * 4.5);
}

.quarterNote_4w8>p {
    font-size: calc(var(--font-size) * 2.25);
    line-height: calc(var(--font-size) * 4);
}

.quarterNote_4w16>p {
    font-size: calc(var(--font-size) * 2);
    line-height: calc(var(--font-size) * 3.5);
}

.quarterNote_4>p {
    font-size: calc(var(--font-size) * 1.75);
    line-height: calc(var(--font-size) * 3);
}

.eighthNote_8w16>p {
    font-size: calc(var(--font-size) * 1.5);
    line-height: calc(var(--font-size) * 3);
}

.eighthNote_8>p {
    font-size: calc(var(--font-size) * 1.25);
    line-height: calc(var(--font-size) * 2.5);
}

.sixteenthNote_16>p {
    font-size: calc(var(--font-size) * 1);
    line-height: calc(var(--font-size) * 1.5);
}

.eighthNote_8_triple>p {
    font-size: calc(var(--font-size) * 1.1);
    line-height: calc(var(--font-size) * 1.5);
}

.quarterNote_4_triple>p {
    font-size: calc(var(--font-size) * 1.75);
    line-height: calc(var(--font-size) * 2.5);
}

/* .eighthNote_8_triple {
    position: relative;
} */

.eighthNote_8_triple+.eighthNote_8_triple+.eighthNote_8_triple::before {
    content: '';
    position: absolute;
    font-size: 35px;
    width: 140px;
    height: 20px;
    transform: translateY(-25px) translateX(-70px);
    border-top: 1px solid var(--active-elem-color);
    border-left: 1px solid var(--active-elem-color);
    border-right: 1px solid var(--active-elem-color);
}

.eighthNote_8_triple+.eighthNote_8_triple+.eighthNote_8_triple::after {
    content: '3';
    position: absolute;
    font-size: 35px;
    line-height: 0px;
    width: 140px;
    height: 20px;
    transform: translateY(-50px) translateX(-70px);
}

.quarterNote_4_triple+.eighthNote_8_triple+.eighthNote_8_triple::before {
    content: '';
    position: absolute;
    font-size: 35px;
    width: 140px;
    height: 20px;
    transform: translateY(-25px) translateX(-70px);
    border-top: 1px solid var(--active-elem-color);
    border-left: 1px solid var(--active-elem-color);
    border-right: 1px solid var(--active-elem-color);
}

.quarterNote_4_triple+.quarterNote_4_triple+.quarterNote_4_triple::after {
    content: '3';
    position: absolute;
    font-size: 35px;
    line-height: 0px;
    width: 140px;
    height: 20px;
    transform: translateY(-50px) translateX(-70px);
}

/* ======================= drop ========================= */
.drop_insert_border_on {
    /* box-shadow: 0 0 0 1px red inset; */
    border: 1.5px dashed #dedede;
}

.drag_Start_end {
    box-shadow: 0 0 0 2px white;

}

.newTripletLine {
    background-color: #DDB078;
}

/* ======================= footer ========================= */
/* .elem_footer {
    display: flex;
    flex-direction: row;
    color: white;
    gap: 5px;
} */

.contain_btn_pulse {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    color: white;
    font-family: MAESTRO;
}

.btn_pulse {
    width: 40px;
    height: 40px;
    /* line-height: 48px; */
    font-size: 20px;
    text-align: center;
    color: white;
    border: 1px rgba(255, 255, 255, 0.27) solid;
    border-radius: 50%;
    cursor: pointer;
}

.btn_pulse:nth-child(2) {
    line-height: 42px;
    /* background-color: red; */
}

.containerRandomButton{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5px;
}

button{
    all: unset;
}

.randBtn {
    width: 40px;
    height: 40px;
    text-align: center;
    color: white;
    font-size: 30px;
    border-radius: 50%;
    border: 1px solid var(--matrix-color);
    cursor: pointer;
}

.randBtn:hover{
background: rgba(255, 255, 255, 0.229);
}

.randBtn:disabled{
    opacity: 0.4;
    cursor: not-allowed;
}

.elem_footer>.btn_active {
    border: 1px solid white;
}

.elem_footer>p {
    line-height: 32px;
}

.line_border_left {
    height: 32px;
    width: 2px;
    background-color: white;
}

/* ======================  top шторка  ==================== */

.cardAlphabetContain {
    display: flex;
    flex-direction: row;
    position: fixed;
    left: 50%;
    top: 0;

    width: 746px;
    height: 255px;
    border: 1px rgba(255, 255, 255, 0.489) solid;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: #2d2d2d5b;


    transform: translateX(-50%);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1000ms;
    z-index: 2000;
}

.hidden_cardAlphabetContain {
    transform: translate(-50%, -110%);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1000ms;
}

.menuInTopBar {
    position: absolute;
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
    width: 100%;
    border-bottom: 1px solid var(--matrix-color);

}

.menuInTopBar__menuElem {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
    color: var(--matrix-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.menuInTopBar__menuElem:hover {
    color: rgb(188, 188, 188);
    cursor: pointer;
    transition: linear 400ms;
}

.alg_active {
    color: rgb(188, 188, 188);
    text-decoration: underline;
}



.tab {
    /* position: absolute; */
    display: grid;
    grid-template-columns: repeat(8, auto);
    grid-auto-flow: column;
    /* width: 100%; */
    /* height: auto; */
    gap: 10px;
    padding: 40px 15px 15px 10px;
    /* transform: translateX(-725px); */
}

/* Распределение колонок в табе */
.grid_el_0,
.grid_el_1,
.grid_el_2,
.grid_el_3 {
    grid-column: 1;
}

.grid_el_4,
.grid_el_5,
.grid_el_6,
.grid_el_7,
.grid_el_8,
.grid_el_9 {
    grid-column: 2;
}

.grid_el_10,
.grid_el_11,
.grid_el_12,
.grid_el_13 {
    grid-column: 3;
}

.grid_el_14,
.grid_el_15 {
    grid-column: 4;
}

.grid_el_16,
.grid_el_17,
.grid_el_18 {
    grid-column: 5;
}

.grid_el_19,
.grid_el_20,
.grid_el_21 {
    grid-column: 6;
}

.grid_el_22,
.grid_el_23 {
    grid-column: 7;
}

.grid_el_24,
.grid_el_25,
.grid_el_26,
.grid_el_27 {
    grid-column: 8;
}


.cardAlphabet_card {
    display: grid;
    /* justify-content: space-between; */
    align-items: center;
    padding: 0 10px;
    /* min-width: calc(var(--base-size) / 10); */
    gap: 5px;
    border: 1px solid var(--matrix-color);
    border-radius: 3px;
    cursor: grab;
}

.cardAlphabet_card.four {
    grid-template-columns: repeat(4, 14px);
}

.cardAlphabet_card.three {
    grid-template-columns: repeat(3, 14px);
}

.cardAlphabet_card.two {
    grid-template-columns: repeat(2, 14px);
}

.grid_el {
    position: relative;
    width: 12px;
    height: 12px;

    background-color: unset;
    /* font-size: 12px; */
    /* line-height: 24px; */
    color: var(--matrix-color);
}

.akcent::before {
    content: '>';
    position: absolute;
    color: rgb(212, 212, 212);
    top: -10px;
    left: 5px;
}

.grid_el.grid_el.card_circle_fill_0 {
    border: 1px solid var(--matrix-color);
    border-radius: 50%;
}

.grid_el.grid_el.card_circle_fill_1 {
    border: 1px solid var(--matrix-color);
    border-radius: 50%;
    background-color: var(--matrix-color);
}

.grid_el.card_circle_fill_1111 {
    width: unset;
    grid-column: span 4;
    border: 1px solid var(--matrix-color);
    border-radius: 5px;
    background-color: var(--matrix-color);
}

.card_circle_fill_111 {
    width: unset;
    grid-column: span 3;
    border: 1px solid var(--matrix-color);
    border-radius: 5px;
    background-color: var(--matrix-color);
}

.card_circle_fill_11 {
    width: unset;
    grid-column: span 2;
    border: 1px solid var(--matrix-color);
    border-radius: 5px;
    background-color: var(--matrix-color);
}

.card_circle_fill_00 {
    width: unset;
    grid-column: span 2;
    border: 1px solid var(--matrix-color);
    border-radius: 5px;
    /* background-color: var(--matrix-color); */
}

.card_circle_fill_000 {
    width: unset;
    grid-column: span 3;
    border: 1px solid var(--matrix-color);
    border-radius: 5px;
}

.card_circle_fill_0000 {
    width: unset;
    grid-column: span 4;
    border: 1px solid var(--matrix-color);
    border-radius: 5px;
}

.btn_open_and_close_card_alphabet {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;


    border-top: 2px solid white;
    border-right: 2px solid white;
    transform: rotate(-45deg);
    /* background-color: aquamarine; */
    cursor: pointer;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1000ms;

}

.inBody {
    /* bottom: -45px; */
    transform-origin: center;
    bottom: -45px;
    transform: rotate(0.375turn);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1000ms;
}

.display_block {
    display: block;
}

.display_none {
    display: none;
}